.logo a .clr,
.error-page h2,
#nav ul a:hover,
.breadcrumbs ul,
#nav ul li:hover > a,
#nav ul > .active > a,
.about-sec .read-more,
.contact-list a:hover,
#footer .f-nav a:hover,
.service-sec .read-more,
.socail-network a:hover,
.breadcrumbs ul a:hover,
#header .nav-opener:hover,
.tracking-sec .more:hover,
.widget .side-nav a:hover,
#header .align-left a:hover,
.widget .widget-nav a:hover,
#footer .contactlist a:hover,
.tracking-sec .track-form p a,
#content .post-blog h3 a:hover,
.error-page .btn-primary:hover,
#content .post-blog .read-more,
.testimonail-slider .slide span,
#footer .socail-network a:hover,
.newsletter-block .main-heading,
#header .align-left li:hover > a,
.testimonail-slider2 .slide span,
.call-to-action .btn-primary:hover,
#content .post-blog .comment-nav a,
.fancybox-close-small:hover:before,
#header.header2 #nav ul .active > a,
#header.header3 .contact-list .icon,
.faq-sec .accordion .opener .ti-plus,
#header.header2 #nav ul li:hover > a,
#header.header3 #nav ul li:hover > a,
.main-slider .slick-next:hover:before,
.main-slider .slick-prev:hover:before,
.faq-sec .accordion .opener .ti-minus,
.blog-slider .slide .heading2 a:hover,
.blog-slider .slick-prev:hover:before,
.blog-slider .slick-next:hover:before,
#content .nav-pagination .next a:hover,
#content .nav-pagination .prev a:hover,
.news-sec .news-block .heading2 a:hover,
.comments-block .comment-area h3 a:hover,
.newsletter-block .newsletter-form button,
.comments-block .comment-area .reply:hover,
.abt-detail .video-holder .play-icon:hover,
.testimonail-slider2 .slick-prev:hover:before,
.testimonail-slider2 .slick-next:hover:before,
.content-sec .contact-form .btn-primary:hover,
.comment-form .contact-form .btn-primary:hover,
.widget .side-nav a.active,
.tracking-sec.style2 .track-form .btn-primary:hover{
	color: #3caee9;
}

#back-top,
.btn-primary:hover,
.btn-primary.active,
.error-page .btn-primary,
.quote-form .btn-primary,
.call-to-action .btn-primary,
.about-sec .progress-bar .over,
.faq-sec .accordion .opener:before,
.newsletter-block .main-heading:before,
.tracking-sec .track-form .btn-primary,
.content-sec .contact-form .btn-primary,
.comment-form .contact-form .btn-primary,
.testimonail-sec .testimonail-slider .slick-dots button:hover,
.testimonail-sec .testimonail-slider .slick-dots .slick-active button{
	background: #3caee9;
}

.btn-primary,
.btn-primary:hover,
.btn-primary.active,
.btn-primary.active:hover,
.widget .side-nav a:hover,
.newsletter-block .newsletter-form .form-control{
	border-color: #3caee9;
}
