@font-face {
    font-family: 'themify';
    src:url('../fonts/themify.eot?-fvbane');
    src:url('../fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'),
    url('../fonts/themify.woff?-fvbane') format('woff'),
    url('../fonts/themify.ttf?-fvbane') format('truetype'),
    url('../fonts/themify.svg?-fvbane#themify') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ElegantIcons';
    src:url('../fonts/ElegantIcons.eot');
    src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ElegantIcons.woff') format('woff'),
    url('../fonts/ElegantIcons.ttf') format('truetype'),
    url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
    font-family: 'ElegantIcons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.arrow_up, .arrow_down, .arrow_left, .arrow_right, .arrow_left-up, .arrow_right-up, .arrow_right-down, .arrow_left-down, .arrow-up-down, .arrow_up-down_alt, .arrow_left-right_alt, .arrow_left-right, .arrow_expand_alt2, .arrow_expand_alt, .arrow_condense, .arrow_expand, .arrow_move, .arrow_carrot-up, .arrow_carrot-down, .arrow_carrot-left, .arrow_carrot-right, .arrow_carrot-2up, .arrow_carrot-2down, .arrow_carrot-2left, .arrow_carrot-2right, .arrow_carrot-up_alt2, .arrow_carrot-down_alt2, .arrow_carrot-left_alt2, .arrow_carrot-right_alt2, .arrow_carrot-2up_alt2, .arrow_carrot-2down_alt2, .arrow_carrot-2left_alt2, .arrow_carrot-2right_alt2, .arrow_triangle-up, .arrow_triangle-down, .arrow_triangle-left, .arrow_triangle-right, .arrow_triangle-up_alt2, .arrow_triangle-down_alt2, .arrow_triangle-left_alt2, .arrow_triangle-right_alt2, .arrow_back, .icon_minus-06, .icon_plus, .icon_close, .icon_check, .icon_minus_alt2, .icon_plus_alt2, .icon_close_alt2, .icon_check_alt2, .icon_zoom-out_alt, .icon_zoom-in_alt, .icon_search, .icon_box-empty, .icon_box-selected, .icon_minus-box, .icon_plus-box, .icon_box-checked, .icon_circle-empty, .icon_circle-slelected, .icon_stop_alt2, .icon_stop, .icon_pause_alt2, .icon_pause, .icon_menu, .icon_menu-square_alt2, .icon_menu-circle_alt2, .icon_ul, .icon_ol, .icon_adjust-horiz, .icon_adjust-vert, .icon_document_alt, .icon_documents_alt, .icon_pencil, .icon_pencil-edit_alt, .icon_pencil-edit, .icon_folder-alt, .icon_folder-open_alt, .icon_folder-add_alt, .icon_info_alt, .icon_error-oct_alt, .icon_error-circle_alt, .icon_error-triangle_alt, .icon_question_alt2, .icon_question, .icon_comment_alt, .icon_chat_alt, .icon_vol-mute_alt, .icon_volume-low_alt, .icon_volume-high_alt, .icon_quotations, .icon_quotations_alt2, .icon_clock_alt, .icon_lock_alt, .icon_lock-open_alt, .icon_key_alt, .icon_cloud_alt, .icon_cloud-upload_alt, .icon_cloud-download_alt, .icon_image, .icon_images, .icon_lightbulb_alt, .icon_gift_alt, .icon_house_alt, .icon_genius, .icon_mobile, .icon_tablet, .icon_laptop, .icon_desktop, .icon_camera_alt, .icon_mail_alt, .icon_cone_alt, .icon_ribbon_alt, .icon_bag_alt, .icon_creditcard, .icon_cart_alt, .icon_paperclip, .icon_tag_alt, .icon_tags_alt, .icon_trash_alt, .icon_cursor_alt, .icon_mic_alt, .icon_compass_alt, .icon_pin_alt, .icon_pushpin_alt, .icon_map_alt, .icon_drawer_alt, .icon_toolbox_alt, .icon_book_alt, .icon_calendar, .icon_film, .icon_table, .icon_contacts_alt, .icon_headphones, .icon_lifesaver, .icon_piechart, .icon_refresh, .icon_link_alt, .icon_link, .icon_loading, .icon_blocked, .icon_archive_alt, .icon_heart_alt, .icon_star_alt, .icon_star-half_alt, .icon_star, .icon_star-half, .icon_tools, .icon_tool, .icon_cog, .icon_cogs, .arrow_up_alt, .arrow_down_alt, .arrow_left_alt, .arrow_right_alt, .arrow_left-up_alt, .arrow_right-up_alt, .arrow_right-down_alt, .arrow_left-down_alt, .arrow_condense_alt, .arrow_expand_alt3, .arrow_carrot_up_alt, .arrow_carrot-down_alt, .arrow_carrot-left_alt, .arrow_carrot-right_alt, .arrow_carrot-2up_alt, .arrow_carrot-2dwnn_alt, .arrow_carrot-2left_alt, .arrow_carrot-2right_alt, .arrow_triangle-up_alt, .arrow_triangle-down_alt, .arrow_triangle-left_alt, .arrow_triangle-right_alt, .icon_minus_alt, .icon_plus_alt, .icon_close_alt, .icon_check_alt, .icon_zoom-out, .icon_zoom-in, .icon_stop_alt, .icon_menu-square_alt, .icon_menu-circle_alt, .icon_document, .icon_documents, .icon_pencil_alt, .icon_folder, .icon_folder-open, .icon_folder-add, .icon_folder_upload, .icon_folder_download, .icon_info, .icon_error-circle, .icon_error-oct, .icon_error-triangle, .icon_question_alt, .icon_comment, .icon_chat, .icon_vol-mute, .icon_volume-low, .icon_volume-high, .icon_quotations_alt, .icon_clock, .icon_lock, .icon_lock-open, .icon_key, .icon_cloud, .icon_cloud-upload, .icon_cloud-download, .icon_lightbulb, .icon_gift, .icon_house, .icon_camera, .icon_mail, .icon_cone, .icon_ribbon, .icon_bag, .icon_cart, .icon_tag, .icon_tags, .icon_trash, .icon_cursor, .icon_mic, .icon_compass, .icon_pin, .icon_pushpin, .icon_map, .icon_drawer, .icon_toolbox, .icon_book, .icon_contacts, .icon_archive, .icon_heart, .icon_profile, .icon_group, .icon_grid-2x2, .icon_grid-3x3, .icon_music, .icon_pause_alt, .icon_phone, .icon_upload, .icon_download, .social_facebook, .social_twitter, .social_pinterest, .social_googleplus, .social_tumblr, .social_tumbleupon, .social_wordpress, .social_instagram, .social_dribbble, .social_vimeo, .social_linkedin, .social_rss, .social_deviantart, .social_share, .social_myspace, .social_skype, .social_youtube, .social_picassa, .social_googledrive, .social_flickr, .social_blogger, .social_spotify, .social_delicious, .social_facebook_circle, .social_twitter_circle, .social_pinterest_circle, .social_googleplus_circle, .social_tumblr_circle, .social_stumbleupon_circle, .social_wordpress_circle, .social_instagram_circle, .social_dribbble_circle, .social_vimeo_circle, .social_linkedin_circle, .social_rss_circle, .social_deviantart_circle, .social_share_circle, .social_myspace_circle, .social_skype_circle, .social_youtube_circle, .social_picassa_circle, .social_googledrive_alt2, .social_flickr_circle, .social_blogger_circle, .social_spotify_circle, .social_delicious_circle, .social_facebook_square, .social_twitter_square, .social_pinterest_square, .social_googleplus_square, .social_tumblr_square, .social_stumbleupon_square, .social_wordpress_square, .social_instagram_square, .social_dribbble_square, .social_vimeo_square, .social_linkedin_square, .social_rss_square, .social_deviantart_square, .social_share_square, .social_myspace_square, .social_skype_square, .social_youtube_square, .social_picassa_square, .social_googledrive_square, .social_flickr_square, .social_blogger_square, .social_spotify_square, .social_delicious_square, .icon_printer, .icon_calulator, .icon_building, .icon_floppy, .icon_drive, .icon_search-2, .icon_id, .icon_id-2, .icon_puzzle, .icon_like, .icon_dislike, .icon_mug, .icon_currency, .icon_wallet, .icon_pens, .icon_easel, .icon_flowchart, .icon_datareport, .icon_briefcase, .icon_shield, .icon_percent, .icon_globe, .icon_globe-2, .icon_target, .icon_hourglass, .icon_balance, .icon_rook, .icon_printer-alt, .icon_calculator_alt, .icon_building_alt, .icon_floppy_alt, .icon_drive_alt, .icon_search_alt, .icon_id_alt, .icon_id-2_alt, .icon_puzzle_alt, .icon_like_alt, .icon_dislike_alt, .icon_mug_alt, .icon_currency_alt, .icon_wallet_alt, .icon_pens_alt, .icon_easel_alt, .icon_flowchart_alt, .icon_datareport_alt, .icon_briefcase_alt, .icon_shield_alt, .icon_percent_alt, .icon_globe_alt, .icon_clipboard {
    font-family: 'ElegantIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}



.ti-wand:before {
    content: "\e600";
}
.ti-volume:before {
    content: "\e601";
}
.ti-user:before {
    content: "\e602";
}
.ti-unlock:before {
    content: "\e603";
}
.ti-unlink:before {
    content: "\e604";
}
.ti-trash:before {
    content: "\e605";
}
.ti-thought:before {
    content: "\e606";
}
.ti-target:before {
    content: "\e607";
}
.ti-tag:before {
    content: "\e608";
}
.ti-tablet:before {
    content: "\e609";
}
.ti-star:before {
    content: "\e60a";
}
.ti-spray:before {
    content: "\e60b";
}
.ti-signal:before {
    content: "\e60c";
}
.ti-shopping-cart:before {
    content: "\e60d";
}
.ti-shopping-cart-full:before {
    content: "\e60e";
}
.ti-settings:before {
    content: "\e60f";
}
.ti-search:before {
    content: "\e610";
}
.ti-zoom-in:before {
    content: "\e611";
}
.ti-zoom-out:before {
    content: "\e612";
}
.ti-cut:before {
    content: "\e613";
}
.ti-ruler:before {
    content: "\e614";
}
.ti-ruler-pencil:before {
    content: "\e615";
}
.ti-ruler-alt:before {
    content: "\e616";
}
.ti-bookmark:before {
    content: "\e617";
}
.ti-bookmark-alt:before {
    content: "\e618";
}
.ti-reload:before {
    content: "\e619";
}
.ti-plus:before {
    content: "\e61a";
}
.ti-pin:before {
    content: "\e61b";
}
.ti-pencil:before {
    content: "\e61c";
}
.ti-pencil-alt:before {
    content: "\e61d";
}
.ti-paint-roller:before {
    content: "\e61e";
}
.ti-paint-bucket:before {
    content: "\e61f";
}
.ti-na:before {
    content: "\e620";
}
.ti-mobile:before {
    content: "\e621";
}
.ti-minus:before {
    content: "\e622";
}
.ti-medall:before {
    content: "\e623";
}
.ti-medall-alt:before {
    content: "\e624";
}
.ti-marker:before {
    content: "\e625";
}
.ti-marker-alt:before {
    content: "\e626";
}
.ti-arrow-up:before {
    content: "\e627";
}
.ti-arrow-right:before {
    content: "\e628";
}
.ti-arrow-left:before {
    content: "\e629";
}
.ti-arrow-down:before {
    content: "\e62a";
}
.ti-lock:before {
    content: "\e62b";
}
.ti-location-arrow:before {
    content: "\e62c";
}
.ti-link:before {
    content: "\e62d";
}
.ti-layout:before {
    content: "\e62e";
}
.ti-layers:before {
    content: "\e62f";
}
.ti-layers-alt:before {
    content: "\e630";
}
.ti-key:before {
    content: "\e631";
}
.ti-import:before {
    content: "\e632";
}
.ti-image:before {
    content: "\e633";
}
.ti-heart:before {
    content: "\e634";
}
.ti-heart-broken:before {
    content: "\e635";
}
.ti-hand-stop:before {
    content: "\e636";
}
.ti-hand-open:before {
    content: "\e637";
}
.ti-hand-drag:before {
    content: "\e638";
}
.ti-folder:before {
    content: "\e639";
}
.ti-flag:before {
    content: "\e63a";
}
.ti-flag-alt:before {
    content: "\e63b";
}
.ti-flag-alt-2:before {
    content: "\e63c";
}
.ti-eye:before {
    content: "\e63d";
}
.ti-export:before {
    content: "\e63e";
}
.ti-exchange-vertical:before {
    content: "\e63f";
}
.ti-desktop:before {
    content: "\e640";
}
.ti-cup:before {
    content: "\e641";
}
.ti-crown:before {
    content: "\e642";
}
.ti-comments:before {
    content: "\e643";
}
.ti-comment:before {
    content: "\e644";
}
.ti-comment-alt:before {
    content: "\e645";
}
.ti-close:before {
    content: "\e646";
}
.ti-clip:before {
    content: "\e647";
}
.ti-angle-up:before {
    content: "\e648";
}
.ti-angle-right:before {
    content: "\e649";
}
.ti-angle-left:before {
    content: "\e64a";
}
.ti-angle-down:before {
    content: "\e64b";
}
.ti-check:before {
    content: "\e64c";
}
.ti-check-box:before {
    content: "\e64d";
}
.ti-camera:before {
    content: "\e64e";
}
.ti-announcement:before {
    content: "\e64f";
}
.ti-brush:before {
    content: "\e650";
}
.ti-briefcase:before {
    content: "\e651";
}
.ti-bolt:before {
    content: "\e652";
}
.ti-bolt-alt:before {
    content: "\e653";
}
.ti-blackboard:before {
    content: "\e654";
}
.ti-bag:before {
    content: "\e655";
}
.ti-move:before {
    content: "\e656";
}
.ti-arrows-vertical:before {
    content: "\e657";
}
.ti-arrows-horizontal:before {
    content: "\e658";
}
.ti-fullscreen:before {
    content: "\e659";
}
.ti-arrow-top-right:before {
    content: "\e65a";
}
.ti-arrow-top-left:before {
    content: "\e65b";
}
.ti-arrow-circle-up:before {
    content: "\e65c";
}
.ti-arrow-circle-right:before {
    content: "\e65d";
}
.ti-arrow-circle-left:before {
    content: "\e65e";
}
.ti-arrow-circle-down:before {
    content: "\e65f";
}
.ti-angle-double-up:before {
    content: "\e660";
}
.ti-angle-double-right:before {
    content: "\e661";
}
.ti-angle-double-left:before {
    content: "\e662";
}
.ti-angle-double-down:before {
    content: "\e663";
}
.ti-zip:before {
    content: "\e664";
}
.ti-world:before {
    content: "\e665";
}
.ti-wheelchair:before {
    content: "\e666";
}
.ti-view-list:before {
    content: "\e667";
}
.ti-view-list-alt:before {
    content: "\e668";
}
.ti-view-grid:before {
    content: "\e669";
}
.ti-uppercase:before {
    content: "\e66a";
}
.ti-upload:before {
    content: "\e66b";
}
.ti-underline:before {
    content: "\e66c";
}
.ti-truck:before {
    content: "\e66d";
}
.ti-timer:before {
    content: "\e66e";
}
.ti-ticket:before {
    content: "\e66f";
}
.ti-thumb-up:before {
    content: "\e670";
}
.ti-thumb-down:before {
    content: "\e671";
}
.ti-text:before {
    content: "\e672";
}
.ti-stats-up:before {
    content: "\e673";
}
.ti-stats-down:before {
    content: "\e674";
}
.ti-split-v:before {
    content: "\e675";
}
.ti-split-h:before {
    content: "\e676";
}
.ti-smallcap:before {
    content: "\e677";
}
.ti-shine:before {
    content: "\e678";
}
.ti-shift-right:before {
    content: "\e679";
}
.ti-shift-left:before {
    content: "\e67a";
}
.ti-shield:before {
    content: "\e67b";
}
.ti-notepad:before {
    content: "\e67c";
}
.ti-server:before {
    content: "\e67d";
}
.ti-quote-right:before {
    content: "\e67e";
}
.ti-quote-left:before {
    content: "\e67f";
}
.ti-pulse:before {
    content: "\e680";
}
.ti-printer:before {
    content: "\e681";
}
.ti-power-off:before {
    content: "\e682";
}
.ti-plug:before {
    content: "\e683";
}
.ti-pie-chart:before {
    content: "\e684";
}
.ti-paragraph:before {
    content: "\e685";
}
.ti-panel:before {
    content: "\e686";
}
.ti-package:before {
    content: "\e687";
}
.ti-music:before {
    content: "\e688";
}
.ti-music-alt:before {
    content: "\e689";
}
.ti-mouse:before {
    content: "\e68a";
}
.ti-mouse-alt:before {
    content: "\e68b";
}
.ti-money:before {
    content: "\e68c";
}
.ti-microphone:before {
    content: "\e68d";
}
.ti-menu:before {
    content: "\e68e";
}
.ti-menu-alt:before {
    content: "\e68f";
}
.ti-map:before {
    content: "\e690";
}
.ti-map-alt:before {
    content: "\e691";
}
.ti-loop:before {
    content: "\e692";
}
.ti-location-pin:before {
    content: "\e693";
}
.ti-list:before {
    content: "\e694";
}
.ti-light-bulb:before {
    content: "\e695";
}
.ti-Italic:before {
    content: "\e696";
}
.ti-info:before {
    content: "\e697";
}
.ti-infinite:before {
    content: "\e698";
}
.ti-id-badge:before {
    content: "\e699";
}
.ti-hummer:before {
    content: "\e69a";
}
.ti-home:before {
    content: "\e69b";
}
.ti-help:before {
    content: "\e69c";
}
.ti-headphone:before {
    content: "\e69d";
}
.ti-harddrives:before {
    content: "\e69e";
}
.ti-harddrive:before {
    content: "\e69f";
}
.ti-gift:before {
    content: "\e6a0";
}
.ti-game:before {
    content: "\e6a1";
}
.ti-filter:before {
    content: "\e6a2";
}
.ti-files:before {
    content: "\e6a3";
}
.ti-file:before {
    content: "\e6a4";
}
.ti-eraser:before {
    content: "\e6a5";
}
.ti-envelope:before {
    content: "\e6a6";
}
.ti-download:before {
    content: "\e6a7";
}
.ti-direction:before {
    content: "\e6a8";
}
.ti-direction-alt:before {
    content: "\e6a9";
}
.ti-dashboard:before {
    content: "\e6aa";
}
.ti-control-stop:before {
    content: "\e6ab";
}
.ti-control-shuffle:before {
    content: "\e6ac";
}
.ti-control-play:before {
    content: "\e6ad";
}
.ti-control-pause:before {
    content: "\e6ae";
}
.ti-control-forward:before {
    content: "\e6af";
}
.ti-control-backward:before {
    content: "\e6b0";
}
.ti-cloud:before {
    content: "\e6b1";
}
.ti-cloud-up:before {
    content: "\e6b2";
}
.ti-cloud-down:before {
    content: "\e6b3";
}
.ti-clipboard:before {
    content: "\e6b4";
}
.ti-car:before {
    content: "\e6b5";
}
.ti-calendar:before {
    content: "\e6b6";
}
.ti-book:before {
    content: "\e6b7";
}
.ti-bell:before {
    content: "\e6b8";
}
.ti-basketball:before {
    content: "\e6b9";
}
.ti-bar-chart:before {
    content: "\e6ba";
}
.ti-bar-chart-alt:before {
    content: "\e6bb";
}
.ti-back-right:before {
    content: "\e6bc";
}
.ti-back-left:before {
    content: "\e6bd";
}
.ti-arrows-corner:before {
    content: "\e6be";
}
.ti-archive:before {
    content: "\e6bf";
}
.ti-anchor:before {
    content: "\e6c0";
}
.ti-align-right:before {
    content: "\e6c1";
}
.ti-align-left:before {
    content: "\e6c2";
}
.ti-align-justify:before {
    content: "\e6c3";
}
.ti-align-center:before {
    content: "\e6c4";
}
.ti-alert:before {
    content: "\e6c5";
}
.ti-alarm-clock:before {
    content: "\e6c6";
}
.ti-agenda:before {
    content: "\e6c7";
}
.ti-write:before {
    content: "\e6c8";
}
.ti-window:before {
    content: "\e6c9";
}
.ti-widgetized:before {
    content: "\e6ca";
}
.ti-widget:before {
    content: "\e6cb";
}
.ti-widget-alt:before {
    content: "\e6cc";
}
.ti-wallet:before {
    content: "\e6cd";
}
.ti-video-clapper:before {
    content: "\e6ce";
}
.ti-video-camera:before {
    content: "\e6cf";
}
.ti-vector:before {
    content: "\e6d0";
}
.ti-themify-logo:before {
    content: "\e6d1";
}
.ti-themify-favicon:before {
    content: "\e6d2";
}
.ti-themify-favicon-alt:before {
    content: "\e6d3";
}
.ti-support:before {
    content: "\e6d4";
}
.ti-stamp:before {
    content: "\e6d5";
}
.ti-split-v-alt:before {
    content: "\e6d6";
}
.ti-slice:before {
    content: "\e6d7";
}
.ti-shortcode:before {
    content: "\e6d8";
}
.ti-shift-right-alt:before {
    content: "\e6d9";
}
.ti-shift-left-alt:before {
    content: "\e6da";
}
.ti-ruler-alt-2:before {
    content: "\e6db";
}
.ti-receipt:before {
    content: "\e6dc";
}
.ti-pin2:before {
    content: "\e6dd";
}
.ti-pin-alt:before {
    content: "\e6de";
}
.ti-pencil-alt2:before {
    content: "\e6df";
}
.ti-palette:before {
    content: "\e6e0";
}
.ti-more:before {
    content: "\e6e1";
}
.ti-more-alt:before {
    content: "\e6e2";
}
.ti-microphone-alt:before {
    content: "\e6e3";
}
.ti-magnet:before {
    content: "\e6e4";
}
.ti-line-double:before {
    content: "\e6e5";
}
.ti-line-dotted:before {
    content: "\e6e6";
}
.ti-line-dashed:before {
    content: "\e6e7";
}
.ti-layout-width-full:before {
    content: "\e6e8";
}
.ti-layout-width-default:before {
    content: "\e6e9";
}
.ti-layout-width-default-alt:before {
    content: "\e6ea";
}
.ti-layout-tab:before {
    content: "\e6eb";
}
.ti-layout-tab-window:before {
    content: "\e6ec";
}
.ti-layout-tab-v:before {
    content: "\e6ed";
}
.ti-layout-tab-min:before {
    content: "\e6ee";
}
.ti-layout-slider:before {
    content: "\e6ef";
}
.ti-layout-slider-alt:before {
    content: "\e6f0";
}
.ti-layout-sidebar-right:before {
    content: "\e6f1";
}
.ti-layout-sidebar-none:before {
    content: "\e6f2";
}
.ti-layout-sidebar-left:before {
    content: "\e6f3";
}
.ti-layout-placeholder:before {
    content: "\e6f4";
}
.ti-layout-menu:before {
    content: "\e6f5";
}
.ti-layout-menu-v:before {
    content: "\e6f6";
}
.ti-layout-menu-separated:before {
    content: "\e6f7";
}
.ti-layout-menu-full:before {
    content: "\e6f8";
}
.ti-layout-media-right-alt:before {
    content: "\e6f9";
}
.ti-layout-media-right:before {
    content: "\e6fa";
}
.ti-layout-media-overlay:before {
    content: "\e6fb";
}
.ti-layout-media-overlay-alt:before {
    content: "\e6fc";
}
.ti-layout-media-overlay-alt-2:before {
    content: "\e6fd";
}
.ti-layout-media-left-alt:before {
    content: "\e6fe";
}
.ti-layout-media-left:before {
    content: "\e6ff";
}
.ti-layout-media-center-alt:before {
    content: "\e700";
}
.ti-layout-media-center:before {
    content: "\e701";
}
.ti-layout-list-thumb:before {
    content: "\e702";
}
.ti-layout-list-thumb-alt:before {
    content: "\e703";
}
.ti-layout-list-post:before {
    content: "\e704";
}
.ti-layout-list-large-image:before {
    content: "\e705";
}
.ti-layout-line-solid:before {
    content: "\e706";
}
.ti-layout-grid4:before {
    content: "\e707";
}
.ti-layout-grid3:before {
    content: "\e708";
}
.ti-layout-grid2:before {
    content: "\e709";
}
.ti-layout-grid2-thumb:before {
    content: "\e70a";
}
.ti-layout-cta-right:before {
    content: "\e70b";
}
.ti-layout-cta-left:before {
    content: "\e70c";
}
.ti-layout-cta-center:before {
    content: "\e70d";
}
.ti-layout-cta-btn-right:before {
    content: "\e70e";
}
.ti-layout-cta-btn-left:before {
    content: "\e70f";
}
.ti-layout-column4:before {
    content: "\e710";
}
.ti-layout-column3:before {
    content: "\e711";
}
.ti-layout-column2:before {
    content: "\e712";
}
.ti-layout-accordion-separated:before {
    content: "\e713";
}
.ti-layout-accordion-merged:before {
    content: "\e714";
}
.ti-layout-accordion-list:before {
    content: "\e715";
}
.ti-ink-pen:before {
    content: "\e716";
}
.ti-info-alt:before {
    content: "\e717";
}
.ti-help-alt:before {
    content: "\e718";
}
.ti-headphone-alt:before {
    content: "\e719";
}
.ti-hand-point-up:before {
    content: "\e71a";
}
.ti-hand-point-right:before {
    content: "\e71b";
}
.ti-hand-point-left:before {
    content: "\e71c";
}
.ti-hand-point-down:before {
    content: "\e71d";
}
.ti-gallery:before {
    content: "\e71e";
}
.ti-face-smile:before {
    content: "\e71f";
}
.ti-face-sad:before {
    content: "\e720";
}
.ti-credit-card:before {
    content: "\e721";
}
.ti-control-skip-forward:before {
    content: "\e722";
}
.ti-control-skip-backward:before {
    content: "\e723";
}
.ti-control-record:before {
    content: "\e724";
}
.ti-control-eject:before {
    content: "\e725";
}
.ti-comments-smiley:before {
    content: "\e726";
}
.ti-brush-alt:before {
    content: "\e727";
}
.ti-youtube:before {
    content: "\e728";
}
.ti-vimeo:before {
    content: "\e729";
}
.ti-twitter:before {
    content: "\e72a";
}
.ti-time:before {
    content: "\e72b";
}
.ti-tumblr:before {
    content: "\e72c";
}
.ti-skype:before {
    content: "\e72d";
}
.ti-share:before {
    content: "\e72e";
}
.ti-share-alt:before {
    content: "\e72f";
}
.ti-rocket:before {
    content: "\e730";
}
.ti-pinterest:before {
    content: "\e731";
}
.ti-new-window:before {
    content: "\e732";
}
.ti-microsoft:before {
    content: "\e733";
}
.ti-list-ol:before {
    content: "\e734";
}
.ti-linkedin:before {
    content: "\e735";
}
.ti-layout-sidebar-2:before {
    content: "\e736";
}
.ti-layout-grid4-alt:before {
    content: "\e737";
}
.ti-layout-grid3-alt:before {
    content: "\e738";
}
.ti-layout-grid2-alt:before {
    content: "\e739";
}
.ti-layout-column4-alt:before {
    content: "\e73a";
}
.ti-layout-column3-alt:before {
    content: "\e73b";
}
.ti-layout-column2-alt:before {
    content: "\e73c";
}
.ti-instagram:before {
    content: "\e73d";
}
.ti-google:before {
    content: "\e73e";
}
.ti-github:before {
    content: "\e73f";
}
.ti-flickr:before {
    content: "\e740";
}
.ti-facebook:before {
    content: "\e741";
}
.ti-dropbox:before {
    content: "\e742";
}
.ti-dribbble:before {
    content: "\e743";
}
.ti-apple:before {
    content: "\e744";
}
.ti-android:before {
    content: "\e745";
}
.ti-save:before {
    content: "\e746";
}
.ti-save-alt:before {
    content: "\e747";
}
.ti-yahoo:before {
    content: "\e748";
}
.ti-wordpress:before {
    content: "\e749";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-tumblr-alt:before {
    content: "\e74c";
}
.ti-trello:before {
    content: "\e74d";
}
.ti-stack-overflow:before {
    content: "\e74e";
}
.ti-soundcloud:before {
    content: "\e74f";
}
.ti-sharethis:before {
    content: "\e750";
}
.ti-sharethis-alt:before {
    content: "\e751";
}
.ti-reddit:before {
    content: "\e752";
}
.ti-pinterest-alt:before {
    content: "\e753";
}
.ti-microsoft-alt:before {
    content: "\e754";
}
.ti-linux:before {
    content: "\e755";
}
.ti-jsfiddle:before {
    content: "\e756";
}
.ti-joomla:before {
    content: "\e757";
}
.ti-html5:before {
    content: "\e758";
}
.ti-flickr-alt:before {
    content: "\e759";
}
.ti-email:before {
    content: "\e75a";
}
.ti-drupal:before {
    content: "\e75b";
}
.ti-dropbox-alt:before {
    content: "\e75c";
}
.ti-css3:before {
    content: "\e75d";
}
.ti-rss:before {
    content: "\e75e";
}
.ti-rss-alt:before {
    content: "\e75f";
}






/* Elegant Fonts */




.arrow_up:before {
    content: "\21";
}
.arrow_down:before {
    content: "\22";
}
.arrow_left:before {
    content: "\23";
}
.arrow_right:before {
    content: "\24";
}
.arrow_left-up:before {
    content: "\25";
}
.arrow_right-up:before {
    content: "\26";
}
.arrow_right-down:before {
    content: "\27";
}
.arrow_left-down:before {
    content: "\28";
}
.arrow-up-down:before {
    content: "\29";
}
.arrow_up-down_alt:before {
    content: "\2a";
}
.arrow_left-right_alt:before {
    content: "\2b";
}
.arrow_left-right:before {
    content: "\2c";
}
.arrow_expand_alt2:before {
    content: "\2d";
}
.arrow_expand_alt:before {
    content: "\2e";
}
.arrow_condense:before {
    content: "\2f";
}
.arrow_expand:before {
    content: "\30";
}
.arrow_move:before {
    content: "\31";
}
.arrow_carrot-up:before {
    content: "\32";
}
.arrow_carrot-down:before {
    content: "\33";
}
.arrow_carrot-left:before {
    content: "\34";
}
.arrow_carrot-right:before {
    content: "\35";
}
.arrow_carrot-2up:before {
    content: "\36";
}
.arrow_carrot-2down:before {
    content: "\37";
}
.arrow_carrot-2left:before {
    content: "\38";
}
.arrow_carrot-2right:before {
    content: "\39";
}
.arrow_carrot-up_alt2:before {
    content: "\3a";
}
.arrow_carrot-down_alt2:before {
    content: "\3b";
}
.arrow_carrot-left_alt2:before {
    content: "\3c";
}
.arrow_carrot-right_alt2:before {
    content: "\3d";
}
.arrow_carrot-2up_alt2:before {
    content: "\3e";
}
.arrow_carrot-2down_alt2:before {
    content: "\3f";
}
.arrow_carrot-2left_alt2:before {
    content: "\40";
}
.arrow_carrot-2right_alt2:before {
    content: "\41";
}
.arrow_triangle-up:before {
    content: "\42";
}
.arrow_triangle-down:before {
    content: "\43";
}
.arrow_triangle-left:before {
    content: "\44";
}
.arrow_triangle-right:before {
    content: "\45";
}
.arrow_triangle-up_alt2:before {
    content: "\46";
}
.arrow_triangle-down_alt2:before {
    content: "\47";
}
.arrow_triangle-left_alt2:before {
    content: "\48";
}
.arrow_triangle-right_alt2:before {
    content: "\49";
}
.arrow_back:before {
    content: "\4a";
}
.icon_minus-06:before {
    content: "\4b";
}
.icon_plus:before {
    content: "\4c";
}
.icon_close:before {
    content: "\4d";
}
.icon_check:before {
    content: "\4e";
}
.icon_minus_alt2:before {
    content: "\4f";
}
.icon_plus_alt2:before {
    content: "\50";
}
.icon_close_alt2:before {
    content: "\51";
}
.icon_check_alt2:before {
    content: "\52";
}
.icon_zoom-out_alt:before {
    content: "\53";
}
.icon_zoom-in_alt:before {
    content: "\54";
}
.icon_search:before {
    content: "\55";
}
.icon_box-empty:before {
    content: "\56";
}
.icon_box-selected:before {
    content: "\57";
}
.icon_minus-box:before {
    content: "\58";
}
.icon_plus-box:before {
    content: "\59";
}
.icon_box-checked:before {
    content: "\5a";
}
.icon_circle-empty:before {
    content: "\5b";
}
.icon_circle-slelected:before {
    content: "\5c";
}
.icon_stop_alt2:before {
    content: "\5d";
}
.icon_stop:before {
    content: "\5e";
}
.icon_pause_alt2:before {
    content: "\5f";
}
.icon_pause:before {
    content: "\60";
}
.icon_menu:before {
    content: "\61";
}
.icon_menu-square_alt2:before {
    content: "\62";
}
.icon_menu-circle_alt2:before {
    content: "\63";
}
.icon_ul:before {
    content: "\64";
}
.icon_ol:before {
    content: "\65";
}
.icon_adjust-horiz:before {
    content: "\66";
}
.icon_adjust-vert:before {
    content: "\67";
}
.icon_document_alt:before {
    content: "\68";
}
.icon_documents_alt:before {
    content: "\69";
}
.icon_pencil:before {
    content: "\6a";
}
.icon_pencil-edit_alt:before {
    content: "\6b";
}
.icon_pencil-edit:before {
    content: "\6c";
}
.icon_folder-alt:before {
    content: "\6d";
}
.icon_folder-open_alt:before {
    content: "\6e";
}
.icon_folder-add_alt:before {
    content: "\6f";
}
.icon_info_alt:before {
    content: "\70";
}
.icon_error-oct_alt:before {
    content: "\71";
}
.icon_error-circle_alt:before {
    content: "\72";
}
.icon_error-triangle_alt:before {
    content: "\73";
}
.icon_question_alt2:before {
    content: "\74";
}
.icon_question:before {
    content: "\75";
}
.icon_comment_alt:before {
    content: "\76";
}
.icon_chat_alt:before {
    content: "\77";
}
.icon_vol-mute_alt:before {
    content: "\78";
}
.icon_volume-low_alt:before {
    content: "\79";
}
.icon_volume-high_alt:before {
    content: "\7a";
}
.icon_quotations:before {
    content: "\7b";
}
.icon_quotations_alt2:before {
    content: "\7c";
}
.icon_clock_alt:before {
    content: "\7d";
}
.icon_lock_alt:before {
    content: "\7e";
}
.icon_lock-open_alt:before {
    content: "\e000";
}
.icon_key_alt:before {
    content: "\e001";
}
.icon_cloud_alt:before {
    content: "\e002";
}
.icon_cloud-upload_alt:before {
    content: "\e003";
}
.icon_cloud-download_alt:before {
    content: "\e004";
}
.icon_image:before {
    content: "\e005";
}
.icon_images:before {
    content: "\e006";
}
.icon_lightbulb_alt:before {
    content: "\e007";
}
.icon_gift_alt:before {
    content: "\e008";
}
.icon_house_alt:before {
    content: "\e009";
}
.icon_genius:before {
    content: "\e00a";
}
.icon_mobile:before {
    content: "\e00b";
}
.icon_tablet:before {
    content: "\e00c";
}
.icon_laptop:before {
    content: "\e00d";
}
.icon_desktop:before {
    content: "\e00e";
}
.icon_camera_alt:before {
    content: "\e00f";
}
.icon_mail_alt:before {
    content: "\e010";
}
.icon_cone_alt:before {
    content: "\e011";
}
.icon_ribbon_alt:before {
    content: "\e012";
}
.icon_bag_alt:before {
    content: "\e013";
}
.icon_creditcard:before {
    content: "\e014";
}
.icon_cart_alt:before {
    content: "\e015";
}
.icon_paperclip:before {
    content: "\e016";
}
.icon_tag_alt:before {
    content: "\e017";
}
.icon_tags_alt:before {
    content: "\e018";
}
.icon_trash_alt:before {
    content: "\e019";
}
.icon_cursor_alt:before {
    content: "\e01a";
}
.icon_mic_alt:before {
    content: "\e01b";
}
.icon_compass_alt:before {
    content: "\e01c";
}
.icon_pin_alt:before {
    content: "\e01d";
}
.icon_pushpin_alt:before {
    content: "\e01e";
}
.icon_map_alt:before {
    content: "\e01f";
}
.icon_drawer_alt:before {
    content: "\e020";
}
.icon_toolbox_alt:before {
    content: "\e021";
}
.icon_book_alt:before {
    content: "\e022";
}
.icon_calendar:before {
    content: "\e023";
}
.icon_film:before {
    content: "\e024";
}
.icon_table:before {
    content: "\e025";
}
.icon_contacts_alt:before {
    content: "\e026";
}
.icon_headphones:before {
    content: "\e027";
}
.icon_lifesaver:before {
    content: "\e028";
}
.icon_piechart:before {
    content: "\e029";
}
.icon_refresh:before {
    content: "\e02a";
}
.icon_link_alt:before {
    content: "\e02b";
}
.icon_link:before {
    content: "\e02c";
}
.icon_loading:before {
    content: "\e02d";
}
.icon_blocked:before {
    content: "\e02e";
}
.icon_archive_alt:before {
    content: "\e02f";
}
.icon_heart_alt:before {
    content: "\e030";
}
.icon_star_alt:before {
    content: "\e031";
}
.icon_star-half_alt:before {
    content: "\e032";
}
.icon_star:before {
    content: "\e033";
}
.icon_star-half:before {
    content: "\e034";
}
.icon_tools:before {
    content: "\e035";
}
.icon_tool:before {
    content: "\e036";
}
.icon_cog:before {
    content: "\e037";
}
.icon_cogs:before {
    content: "\e038";
}
.arrow_up_alt:before {
    content: "\e039";
}
.arrow_down_alt:before {
    content: "\e03a";
}
.arrow_left_alt:before {
    content: "\e03b";
}
.arrow_right_alt:before {
    content: "\e03c";
}
.arrow_left-up_alt:before {
    content: "\e03d";
}
.arrow_right-up_alt:before {
    content: "\e03e";
}
.arrow_right-down_alt:before {
    content: "\e03f";
}
.arrow_left-down_alt:before {
    content: "\e040";
}
.arrow_condense_alt:before {
    content: "\e041";
}
.arrow_expand_alt3:before {
    content: "\e042";
}
.arrow_carrot_up_alt:before {
    content: "\e043";
}
.arrow_carrot-down_alt:before {
    content: "\e044";
}
.arrow_carrot-left_alt:before {
    content: "\e045";
}
.arrow_carrot-right_alt:before {
    content: "\e046";
}
.arrow_carrot-2up_alt:before {
    content: "\e047";
}
.arrow_carrot-2dwnn_alt:before {
    content: "\e048";
}
.arrow_carrot-2left_alt:before {
    content: "\e049";
}
.arrow_carrot-2right_alt:before {
    content: "\e04a";
}
.arrow_triangle-up_alt:before {
    content: "\e04b";
}
.arrow_triangle-down_alt:before {
    content: "\e04c";
}
.arrow_triangle-left_alt:before {
    content: "\e04d";
}
.arrow_triangle-right_alt:before {
    content: "\e04e";
}
.icon_minus_alt:before {
    content: "\e04f";
}
.icon_plus_alt:before {
    content: "\e050";
}
.icon_close_alt:before {
    content: "\e051";
}
.icon_check_alt:before {
    content: "\e052";
}
.icon_zoom-out:before {
    content: "\e053";
}
.icon_zoom-in:before {
    content: "\e054";
}
.icon_stop_alt:before {
    content: "\e055";
}
.icon_menu-square_alt:before {
    content: "\e056";
}
.icon_menu-circle_alt:before {
    content: "\e057";
}
.icon_document:before {
    content: "\e058";
}
.icon_documents:before {
    content: "\e059";
}
.icon_pencil_alt:before {
    content: "\e05a";
}
.icon_folder:before {
    content: "\e05b";
}
.icon_folder-open:before {
    content: "\e05c";
}
.icon_folder-add:before {
    content: "\e05d";
}
.icon_folder_upload:before {
    content: "\e05e";
}
.icon_folder_download:before {
    content: "\e05f";
}
.icon_info:before {
    content: "\e060";
}
.icon_error-circle:before {
    content: "\e061";
}
.icon_error-oct:before {
    content: "\e062";
}
.icon_error-triangle:before {
    content: "\e063";
}
.icon_question_alt:before {
    content: "\e064";
}
.icon_comment:before {
    content: "\e065";
}
.icon_chat:before {
    content: "\e066";
}
.icon_vol-mute:before {
    content: "\e067";
}
.icon_volume-low:before {
    content: "\e068";
}
.icon_volume-high:before {
    content: "\e069";
}
.icon_quotations_alt:before {
    content: "\e06a";
}
.icon_clock:before {
    content: "\e06b";
}
.icon_lock:before {
    content: "\e06c";
}
.icon_lock-open:before {
    content: "\e06d";
}
.icon_key:before {
    content: "\e06e";
}
.icon_cloud:before {
    content: "\e06f";
}
.icon_cloud-upload:before {
    content: "\e070";
}
.icon_cloud-download:before {
    content: "\e071";
}
.icon_lightbulb:before {
    content: "\e072";
}
.icon_gift:before {
    content: "\e073";
}
.icon_house:before {
    content: "\e074";
}
.icon_camera:before {
    content: "\e075";
}
.icon_mail:before {
    content: "\e076";
}
.icon_cone:before {
    content: "\e077";
}
.icon_ribbon:before {
    content: "\e078";
}
.icon_bag:before {
    content: "\e079";
}
.icon_cart:before {
    content: "\e07a";
}
.icon_tag:before {
    content: "\e07b";
}
.icon_tags:before {
    content: "\e07c";
}
.icon_trash:before {
    content: "\e07d";
}
.icon_cursor:before {
    content: "\e07e";
}
.icon_mic:before {
    content: "\e07f";
}
.icon_compass:before {
    content: "\e080";
}
.icon_pin:before {
    content: "\e081";
}
.icon_pushpin:before {
    content: "\e082";
}
.icon_map:before {
    content: "\e083";
}
.icon_drawer:before {
    content: "\e084";
}
.icon_toolbox:before {
    content: "\e085";
}
.icon_book:before {
    content: "\e086";
}
.icon_contacts:before {
    content: "\e087";
}
.icon_archive:before {
    content: "\e088";
}
.icon_heart:before {
    content: "\e089";
}
.icon_profile:before {
    content: "\e08a";
}
.icon_group:before {
    content: "\e08b";
}
.icon_grid-2x2:before {
    content: "\e08c";
}
.icon_grid-3x3:before {
    content: "\e08d";
}
.icon_music:before {
    content: "\e08e";
}
.icon_pause_alt:before {
    content: "\e08f";
}
.icon_phone:before {
    content: "\e090";
}
.icon_upload:before {
    content: "\e091";
}
.icon_download:before {
    content: "\e092";
}
.social_facebook:before {
    content: "\e093";
}
.social_twitter:before {
    content: "\e094";
}
.social_pinterest:before {
    content: "\e095";
}
.social_googleplus:before {
    content: "\e096";
}
.social_tumblr:before {
    content: "\e097";
}
.social_tumbleupon:before {
    content: "\e098";
}
.social_wordpress:before {
    content: "\e099";
}
.social_instagram:before {
    content: "\e09a";
}
.social_dribbble:before {
    content: "\e09b";
}
.social_vimeo:before {
    content: "\e09c";
}
.social_linkedin:before {
    content: "\e09d";
}
.social_rss:before {
    content: "\e09e";
}
.social_deviantart:before {
    content: "\e09f";
}
.social_share:before {
    content: "\e0a0";
}
.social_myspace:before {
    content: "\e0a1";
}
.social_skype:before {
    content: "\e0a2";
}
.social_youtube:before {
    content: "\e0a3";
}
.social_picassa:before {
    content: "\e0a4";
}
.social_googledrive:before {
    content: "\e0a5";
}
.social_flickr:before {
    content: "\e0a6";
}
.social_blogger:before {
    content: "\e0a7";
}
.social_spotify:before {
    content: "\e0a8";
}
.social_delicious:before {
    content: "\e0a9";
}
.social_facebook_circle:before {
    content: "\e0aa";
}
.social_twitter_circle:before {
    content: "\e0ab";
}
.social_pinterest_circle:before {
    content: "\e0ac";
}
.social_googleplus_circle:before {
    content: "\e0ad";
}
.social_tumblr_circle:before {
    content: "\e0ae";
}
.social_stumbleupon_circle:before {
    content: "\e0af";
}
.social_wordpress_circle:before {
    content: "\e0b0";
}
.social_instagram_circle:before {
    content: "\e0b1";
}
.social_dribbble_circle:before {
    content: "\e0b2";
}
.social_vimeo_circle:before {
    content: "\e0b3";
}
.social_linkedin_circle:before {
    content: "\e0b4";
}
.social_rss_circle:before {
    content: "\e0b5";
}
.social_deviantart_circle:before {
    content: "\e0b6";
}
.social_share_circle:before {
    content: "\e0b7";
}
.social_myspace_circle:before {
    content: "\e0b8";
}
.social_skype_circle:before {
    content: "\e0b9";
}
.social_youtube_circle:before {
    content: "\e0ba";
}
.social_picassa_circle:before {
    content: "\e0bb";
}
.social_googledrive_alt2:before {
    content: "\e0bc";
}
.social_flickr_circle:before {
    content: "\e0bd";
}
.social_blogger_circle:before {
    content: "\e0be";
}
.social_spotify_circle:before {
    content: "\e0bf";
}
.social_delicious_circle:before {
    content: "\e0c0";
}
.social_facebook_square:before {
    content: "\e0c1";
}
.social_twitter_square:before {
    content: "\e0c2";
}
.social_pinterest_square:before {
    content: "\e0c3";
}
.social_googleplus_square:before {
    content: "\e0c4";
}
.social_tumblr_square:before {
    content: "\e0c5";
}
.social_stumbleupon_square:before {
    content: "\e0c6";
}
.social_wordpress_square:before {
    content: "\e0c7";
}
.social_instagram_square:before {
    content: "\e0c8";
}
.social_dribbble_square:before {
    content: "\e0c9";
}
.social_vimeo_square:before {
    content: "\e0ca";
}
.social_linkedin_square:before {
    content: "\e0cb";
}
.social_rss_square:before {
    content: "\e0cc";
}
.social_deviantart_square:before {
    content: "\e0cd";
}
.social_share_square:before {
    content: "\e0ce";
}
.social_myspace_square:before {
    content: "\e0cf";
}
.social_skype_square:before {
    content: "\e0d0";
}
.social_youtube_square:before {
    content: "\e0d1";
}
.social_picassa_square:before {
    content: "\e0d2";
}
.social_googledrive_square:before {
    content: "\e0d3";
}
.social_flickr_square:before {
    content: "\e0d4";
}
.social_blogger_square:before {
    content: "\e0d5";
}
.social_spotify_square:before {
    content: "\e0d6";
}
.social_delicious_square:before {
    content: "\e0d7";
}
.icon_printer:before {
    content: "\e103";
}
.icon_calulator:before {
    content: "\e0ee";
}
.icon_building:before {
    content: "\e0ef";
}
.icon_floppy:before {
    content: "\e0e8";
}
.icon_drive:before {
    content: "\e0ea";
}
.icon_search-2:before {
    content: "\e101";
}
.icon_id:before {
    content: "\e107";
}
.icon_id-2:before {
    content: "\e108";
}
.icon_puzzle:before {
    content: "\e102";
}
.icon_like:before {
    content: "\e106";
}
.icon_dislike:before {
    content: "\e0eb";
}
.icon_mug:before {
    content: "\e105";
}
.icon_currency:before {
    content: "\e0ed";
}
.icon_wallet:before {
    content: "\e100";
}
.icon_pens:before {
    content: "\e104";
}
.icon_easel:before {
    content: "\e0e9";
}
.icon_flowchart:before {
    content: "\e109";
}
.icon_datareport:before {
    content: "\e0ec";
}
.icon_briefcase:before {
    content: "\e0fe";
}
.icon_shield:before {
    content: "\e0f6";
}
.icon_percent:before {
    content: "\e0fb";
}
.icon_globe:before {
    content: "\e0e2";
}
.icon_globe-2:before {
    content: "\e0e3";
}
.icon_target:before {
    content: "\e0f5";
}
.icon_hourglass:before {
    content: "\e0e1";
}
.icon_balance:before {
    content: "\e0ff";
}
.icon_rook:before {
    content: "\e0f8";
}
.icon_printer-alt:before {
    content: "\e0fa";
}
.icon_calculator_alt:before {
    content: "\e0e7";
}
.icon_building_alt:before {
    content: "\e0fd";
}
.icon_floppy_alt:before {
    content: "\e0e4";
}
.icon_drive_alt:before {
    content: "\e0e5";
}
.icon_search_alt:before {
    content: "\e0f7";
}
.icon_id_alt:before {
    content: "\e0e0";
}
.icon_id-2_alt:before {
    content: "\e0fc";
}
.icon_puzzle_alt:before {
    content: "\e0f9";
}
.icon_like_alt:before {
    content: "\e0dd";
}
.icon_dislike_alt:before {
    content: "\e0f1";
}
.icon_mug_alt:before {
    content: "\e0dc";
}
.icon_currency_alt:before {
    content: "\e0f3";
}
.icon_wallet_alt:before {
    content: "\e0d8";
}
.icon_pens_alt:before {
    content: "\e0db";
}
.icon_easel_alt:before {
    content: "\e0f0";
}
.icon_flowchart_alt:before {
    content: "\e0df";
}
.icon_datareport_alt:before {
    content: "\e0f2";
}
.icon_briefcase_alt:before {
    content: "\e0f4";
}
.icon_shield_alt:before {
    content: "\e0d9";
}
.icon_percent_alt:before {
    content: "\e0da";
}
.icon_globe_alt:before {
    content: "\e0de";
}
.icon_clipboard:before {
    content: "\e0e6";
}


.glyph {
    float: left;
    text-align: center;
    padding: .75em;
    margin: .4em 1.5em .75em 0;
    width: 6em;
    text-shadow: none;
}
.glyph_big {
    font-size: 128px;
    color: #59c5dc;
    float: left;
    margin-right: 20px;
}

.glyph div { padding-bottom: 10px;}

.glyph input {
    font-family: consolas, monospace;
    font-size: 12px;
    width: 100%;
    text-align: center;
    border: 0;
    box-shadow: 0 0 0 1px #ccc;
    padding: .2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.centered {
    margin-left: auto;
    margin-right: auto;
}
.glyph .fs1 {
    font-size: 2em;
}


