 /*
Theme Name: Amlogistic | Transportation & Logistics HTML Template
Author: Arklogics
Author URI: https://themeforest.net/user/Arklogics
Version: 1
Description: Base theme for HTML5
Text Domain: base
Tags: one-column, two-columns, three-columns
Theme URI: http://www.htmlbeans.com/html/amlogistic/
*/


/*------------------------------------------------------------------

1. import files / import files
2. Body / body
3. Wrapper / #wrapper
4. Header / #header
5. Socail Network / .socail-network
6. Logo / .logo
7. Nav / #nav
8. Nav Active / .nav-active
9. Main / #main
10. Main Slider / .main-slider
11. Breadcrumbs / .breadcrumbs
12. Btn Primary / .btn-primary
13. Heading / .heading
14. Heading2 / .heading2
15. Service Sec / .service-sec
16. Tracking Sec / .tracking-sec
17. News Sec / .news-sec
18. Call To Action / .call-to-action
19. Counter Holder / .counter-holder
20. Contact Sec / .contact-sec
21. Quote Form / .quote-form
22. Contact List / .contact-list
23. Testimonail Sec / .testimonail-sec
24. Testimonail Slider / .testimonail-slider
25. Testimonail Slider2 / .testimonail-slider2
26. About Sec / .about-sec
27. Abt Detail / .abt-detail
28. Blog Slider / .blog-slider
29. Client Sec / .client-sec
30. Popup Holder / .popup-holder
31. Newsletter Block / .newsletter-block
32. Error Page / .error-page
33. Faq Sec / .faq-sec
34. Service Detail / .service-detail
35. Twocolumns / .twocolumns
36. Content / #content
37. Sidebar / #sidebar
38. Comments Block / .comments-block
39. Comment Form / .comment-form
40. Widget / .widget
41. Content Sec / .content-sec
42. Map Sec / .map-sec
43. Footer / #footer
44. Back Top / #back-top
45. Loader Holder / .loader-holder

-------------------------------------------------------------------*/



// devices viewport width starts at:
$breakpoints: (
	xs-phone: 480px,
	phone: 640px,
	tablet: 768px,
	desktop: 992px,
	widescreen: 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤


/*------------------------------------------------------------------
1. import files / import files
-------------------------------------------------------------------*/

//@import 'vendors/include-media';
@import "~font-awesome/scss/font-awesome.scss";
$icon-font-path: "../../../fonts/bootstrap/";
@import url(https://fonts.googleapis.com/css?family=Arizonia%7CRoboto:300,400,500,700,900);
@import "bootstrap";
@import "icofont";
@import "plugins";
@import "colors";
@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';


/*------------------------------------------------------------------
2. Body / body
-------------------------------------------------------------------*/
body{
    font-weight: 400;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body.boxed-v #wrapper {
    max-width: 80%;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
a{
    &:hover,
    &:focus,
    &.active{
        text-decoration: none;
        outline: none;
    }
}
.overlay{
    position: relative;
    z-index: 1;
    &:before{
        @include element(0, 0, 0, 0);
        background: rgba(18, 31, 54, 0.4);
    }
}
.bg-full{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.bg-parallax{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.round{border-radius: 100%;}
.md-round{border-radius: 3px;}
.lg-round{border-radius: 45px;}
/*------------------------------------------------------------------
3. Wrapper / #wrapper
-------------------------------------------------------------------*/
#wrapper{ @extend %boxreset; }
/*------------------------------------------------------------------
4. Header / #header
-------------------------------------------------------------------*/
#header{
    @extend %clearfix;
    &.header2{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 5;
        .top-header{
            border: none;
            background: $white;
        }
        #nav{
            ul{
                > li{ > a{ color: $white; } }
            }
            .drop-down{
                > li{ > a{ color: $clr-2; } }
            }
        }
        .logo{ a{ color: $white; } }
        .header-holder {
            margin-top: 15px;
        }
    }
    &.header3{
        .top-header{
            padding: 24px 0 28px;
            overflow: hidden;
        }
        .contact-list{
            float: right;
            width: 65%;
            li{
                width: 33.33%;
                float: left;
                margin: 0;
                padding: 0 0 0 30px;
                &:first-child{ padding: 0 20px 0 0; }
            }
            time,
            a{
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .icon{
                @include font(24px, 26px);
                padding: 10px 0 0;
            }
            .txt-holder{
                padding: 0 0 0 3px;
            }
        }
        .logo{
            margin: 9px 10px 0 0;
        }
        #nav{
            text-align: left;
            float: left;
            padding: 0;
            ul{
                li{
                    margin: 0 59px 0 0;
                    &:hover{
                        padding-bottom: 17px;
                        margin-bottom: -17px;
                    }
                }
            }
            .drop-down{
                top: 34px;
                li{ margin: 0; }
            }
        }
        .align-left{
            float: right;
            li{
                margin: 0 0 0 31px;
            }
        }
        .header-holder{ padding: 16px 0 17px; }
    }
    .top-header{
        padding: 10px 0 12px;
        border-bottom: 1px solid rgba($black, 0.1);
    }
    .header-holder{ padding: 33px 0 15px; padding-top: 15px;}
    .align-left{
        @include font(14px, 16px);
        color: $clr-1;
        font-weight: 400;
        @extend %clearfix;
        float: left;
        margin: 0;
        li{
            float: left;
            margin: 0 31px 0 0;
            position: relative;
            &:hover{
                padding-bottom: 27px;
                margin-bottom: -27px;
                .drop-down{
                    opacity: 1;
                    visibility: visible;
                    transform: rotateX(0);
                }
            }
        }
        a{
            color: $clr-1;
            display: block;
            transition: all 0.25s linear;
        }
        .fa{ margin: 0 0 0 2px; }
        .drop-down{
            position: absolute;
            left: 0;
            top: 30px;
            z-index: 9;
            color: $clr-2;
            font-weight: 400;
            text-transform: uppercase;
            min-width: 150px;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            padding: 15px 15px 10px;
            background: $clr-17;
            transition: all 0.25s linear;
            transform: rotateX(90deg);
            transform-origin: 0 0;
            > li{
                display: block;
                overflow: hidden;
                margin: 0 0 8px;
                &:hover{
                    padding-bottom: 0;
                    margin-bottom: 8px;
                }
                > a{
                    display: block;
                    padding: 5px;
                    color: $clr-2;
                    transition: all 0.25s linear;
                }
            }
        }
    }
    .nav-opener{
        @include font(30px, 40px);
        color: $clr-1;
        float: right;
        margin: -3px 0 0;
        transition: all 0.25s linear;
    }
}
/*------------------------------------------------------------------
5. Socail Network / .socail-network
-------------------------------------------------------------------*/
.socail-network{
    @include font(12px, 14px);
    color: $clr-1;
    font-weight: 400;
    @extend %clearfix;
    text-align: right;
    margin: 0;
    padding: 3px 0 0;
    li{
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 21px;
    }
    a{
        color: $clr-1;
        display: block;
        transition: all 0.25s linear;
    }
}
/*------------------------------------------------------------------
6. Logo / .logo
-------------------------------------------------------------------*/
.logo{
    @include font(30px, 32px);
    font-weight: 700;
    float: left;
    a{
        display: block;
        color: $clr-1;
        transition: all 0.25s linear;
    }
    svg {
        width: 200px;
        height: auto;
    }
}
/*------------------------------------------------------------------
7. Nav / #nav
-------------------------------------------------------------------*/
#nav{

    @include font(14px, 16px);
    color: $clr-1;
    font-weight: 400;
    text-align: right;
    padding: 6px 0 0;
    padding-top: 22px;
    text-transform: uppercase;
    @extend %clearfix;
    ul{
        @extend %clearfix;
        margin: 0;
        > li{
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 59px;
            position: relative;
            &:hover{
                padding-bottom: 27px;
                margin-bottom: -27px;
                .drop-down{
                    opacity: 1;
                    visibility: visible;
                    transform: rotateX(0);
                }
            }
            > a{
                color: $clr-1;
                display: block;
                transition: all 0.25s linear;
            }
        }
    }
    .drop-down{
        position: absolute;
        left: -85px;
        top: 45px;
        z-index: 9;
        color: $clr-2;
        font-weight: 400;
        text-transform: uppercase;
        min-width: 213px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        padding: 21px 0 15px;
        background: $clr-17;
        transition: all 0.25s linear;
        transform: rotateX(90deg);
        transform-origin: 0 0;
        > li{
            display: block;
            overflow: hidden;
            margin: 0 0 8px;
            &:hover{
                padding-bottom: 0;
                margin-bottom: 8px;
            }
            > a{
                display: block;
                padding: 5px;
                color: $clr-2;
                transition: all 0.25s linear;
            }
        }
    }
}
/*------------------------------------------------------------------
8. Nav Active / .nav-active
-------------------------------------------------------------------*/
.nav-active{
    #nav{
        opacity: 1;
        visibility: visible;
        transform: rotateX(0);
    }
}
/*------------------------------------------------------------------
9. Main / #main
-------------------------------------------------------------------*/
#main{ @extend %clearfix; }
/*------------------------------------------------------------------
10. Main Slider / .main-slider
-------------------------------------------------------------------*/
.main-slider{
    overflow: hidden;
    width: 100%;
    &.slider2{
        .slide{
            position: relative;
            z-index: 1;
            &:before{
                @include element(0, 0, 0, 0);
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }
    &.slider3{
        .slide{
            @include v-align(291px, bottom, after);
            &:before{ background: rgba(18, 31, 54, 0.9); }
        }
        .heading{
            color: $white;
            margin: 0 0 74px;
        }
    }
    .slide{
        @include v-align(100vh, middle, after);
        h1{
            font: 48px/24px $font-family-sans-serif;
            color: $white;
            font-weight: 900;
            margin: 0 0 31px;
            opacity: 0;
            transform: translateY(-60px);
            transition: all 0.35s linear;
        }
        .sub-title{
            font: 24px/26px $font-family-sans-serif;
            color: $clr-2;
            font-weight: 400;
            display: block;
            margin: 0 0 56px;
        }
        .btn-holder{ overflow: hidden; }
    }
    .slick-active{
        h1{
            opacity: 1;
            transform: translateY(0);
        }
    }
    .slick-prev,
    .slick-next{
        background: none;
        border: none;
        text-indent: -9999px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        &:before{
            position: absolute;
            left: 0;
            top: 0;
            font-family: 'themify';
            @include font(20px, 22px);
            color: $white;
            text-indent: 0;
            transition: all 0.25s linear;
        }
    }
    .slick-prev{
        left: 140px;
        &:before{ content: "\e64a"; }
    }
    .slick-next{
        right: 140px;
        &:before{ content: "\e649"; }
    }
}
/*------------------------------------------------------------------
11. Breadcrumbs / .breadcrumbs
-------------------------------------------------------------------*/
.breadcrumbs{
    @include font(14px, 16px);
    overflow: hidden;
    margin: 0;
    padding: 26px 0;
    ul{
        overflow: hidden;
        margin: 0;
        li{
            display: inline-block;
            vertical-align: middle;
        }
        a{
            color: $clr-1;
            display: block;
            transition: all 0.25s linear;
        }
    }
}
/*------------------------------------------------------------------
12. Btn Primary / .btn-primary
-------------------------------------------------------------------*/
.btn-primary{
    @include font(14px, 16px);
    color: $white;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    margin: 0 10px 0 0;
    border-width: 2px;
    border-style: solid;
    background: none;
    transition: all 0.25s linear;
    &.active{ &:hover{ background: none; } }
    &:hover{ background: none; }
}
/*------------------------------------------------------------------
13. Heading / .heading
-------------------------------------------------------------------*/
.heading{
    @include font(30px, 32px);
    color: $clr-1;
    font-weight: 700;
    margin: 0 0 60px;

    &.heading-m2 {
        margin-top: 20px;
    }
}
/*------------------------------------------------------------------
14. Heading2 / .heading2
-------------------------------------------------------------------*/
.heading2{
    @include font(18px, 22px);
    color: $clr-1;
    font-weight: 700;
    margin: 0 0 16px;
}
/*------------------------------------------------------------------
15. Service Sec / .service-sec
-------------------------------------------------------------------*/
.service-sec{
    overflow: hidden;
    padding-top: 98px;
    padding-bottom: 99px;
    &.service2{
        padding-top: 0;
        margin-top: -136px;
        .txt-holder{
            @include font(16px, 24px);
            width: 100%;
            float: none;
            color: $clr-1;
            padding: 0 26px;
            p{ margin: 0 0 33px; }
        }
    }
    &.style2{
        margin-top: 0;
        padding-bottom: 101px;
    }
    &.style3{
        padding-top: 56px;
        padding-bottom: 21px;
        margin-top: 0;
        .service-holder{ margin: 0 0 80px; }
    }
    .icon{
        width: 20%;
        float: left;
        padding: 0 0 0 7px;
    }
    .txt-holder{
        width: 80%;
        float: left;
        color: $clr-3;
        padding: 5px 0 0 17px;
        p{ margin: 0; }
    }
    .service-holder{
        padding: 25px 27px 26px 23px;
        overflow: hidden;
        background: $white;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.25s linear;
        &:hover{
            box-shadow: 0 13px 30px 10px rgba(0, 0, 0, 0.07);
            .img-holder{
                img{ transform: scale(1.1); }
            }
        }
    }
    .heading{ margin: 0 0 28px; }
    .img-holder{
        width: 100%;
        margin: 0 0 36px;
        overflow: hidden;
        img{
            transform: scale(1);
            transition: all 0.25s linear;
        }
    }
    .read-more{
        @include font(16px, 18px);
        font-weight: 700;
        text-decoration: underline;
        transition: all 0.25s linear;
        &:hover{
            color: $clr-1;
            text-decoration: none;
        }
    }
}
/*------------------------------------------------------------------
16. Tracking Sec / .tracking-sec
-------------------------------------------------------------------*/
.tracking-sec{
    margin-top: 60px;
    margin-bottom: 46px;
    min-height: 344px;
    position: relative;
    z-index: 1;
    color: $white;
    @extend %clearfix;
    &:before{
        @include element(0, 0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
    }
    &.style2{
        margin-top: -146px;
        margin-bottom: 0;
        min-height: auto;
        padding-bottom: 55px;
        &:before{ display: none; }
        .track-form{
            overflow: visible;
            .form-control{
                height: 80px;
                margin: 0 0 51px;
                box-shadow: 0 13px 30px 10px rgba(0, 0, 0, 0.07);
            }
            .btn-primary{
                @include font(18px, 20px);
                margin: 0;
            }
        }
        .heading{
            color: $clr-1;
            margin: 0 0 43px;
        }
    }
    &.style3{
        padding: 72px 0 79px;
        margin-top: 0;
        margin-bottom: 0;
        .track-form{
            label{
                @include font(14px, 16px);
                margin: 0 0 27px;
            }
            .form-control{
                width: 370px;
                margin: 0 auto 25px;
            }
            .btn-primary{
                padding: 13px 32px;
                margin: 0;
            }
        }
    }
    .txt-holder{ padding: 83px 0; }
    .heading{
        color: $white;
        margin: 0 0 14px;
    }
    p{ margin: 0 0 12px; }
    .more{
        @include font(14px, 16px);
        color: $white;
        font-weight: 400;
        text-decoration: underline;
        transition: all 0.25s linear;
        &:hover{ text-decoration: none; }
    }
    .track-holder{
        width: 100%;
        min-height: 450px;
        padding: 89px 49px;
        margin: -60px 0;
        font-size: 13px;
        transform: scaleX(1.11);
    }
    .track-form{
        overflow: hidden;
        width: 100%;
        color: $clr-2;
        font-weight: 400;
        p{
            margin: 0 0 35px;
            a{
                text-decoration: underline;
                transition: all 0.25s linear;
                &:hover{
                    color: $white;
                    text-decoration: none;
                }
            }
        }
        label{
            @include font(13px, 16px);
            color: $white;
            font-weight: 700;
            margin: 0 0 17px;
        }
        .form-control{
            @include font(14px, 16px);
            font-weight: 400;
            color: $clr-4;
            font-style: italic;
            @include size(100%, 50px);
            padding: 6px 27px;
            margin: 0 0 24px;
            background: $white;
            border: none;
            outline: none;
            box-shadow: none;
            @include placeholder{ color: $clr-4; }
        }
        .btn-primary{
            box-shadow: none;
            outline: none;
            padding: 13px 27px;
            &:hover{ background: none; }
        }
    }
}
/*------------------------------------------------------------------
17. News Sec / .news-sec
-------------------------------------------------------------------*/
.news-sec{
    padding-top: 95px;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
    @extend %clearfix;
    &.style2{ padding-bottom: 84px; }
    .img-icon{
        position: absolute;
        left: 0;
        top: -43px;
        z-index: -1;
    }
    .news-block{
        overflow: hidden;
        margin: 0 0 78px;
        .img-holder{
            width: 17.7%;
            float: left;
        }
        .txt-holder{
            width: 82.3%;
            float: left;
            color: $clr-3;
            padding: 2px 0 0 28px;
            p{ margin: 0; }
        }
        .time{
            @include font(12px, 14px);
            color: $clr-2;
            margin: 0 0 5px;
            display: block;
        }
        .heading2{
            margin: 0 0 8px;
            a{
                color: $clr-1;
                transition: all 0.25s linear;
            }
        }
    }
}
/*------------------------------------------------------------------
18. Call To Action / .call-to-action
-------------------------------------------------------------------*/
.call-to-action{
    overflow: hidden;
    padding: 47px 0 51px;
    background: $clr-5;
    &.style2{
        position: relative;
        z-index: 1;
        background: $clr-1;
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.2);
        h2,
        span{ color: $white; }
    }
    &.style3{
        padding: 35px 0 25px;
        position: relative;
        z-index: 1;
        background: $clr-1;
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.2);
        h2,
        span{ color: $white; }
        .btn-primary{
            padding: 10px 21px;
            margin: -5px 1px 0 0;
        }
    }
    h2{
        @include font(24px, 26px);
        color: $clr-1;
        font-weight: 700;
        margin: 0 0 15px;
    }
    span{
        @include font(18px, 20px);
        color: $clr-3;
        font-weight: 400;
        display: block;
    }
    .btn-primary{
        float: right;
        padding: 15px 30px;
        margin: 8px 70px 0 0;
        box-shadow: 0 13px 30px 10px rgba(0, 0, 0, 0.07);
        &:hover{ background: none; }
    }
}
/*------------------------------------------------------------------
19. Counter Holder / .counter-holder
-------------------------------------------------------------------*/
.counter-holder{
    overflow: hidden;
    padding: 105px 0 0;
    min-height: 500px;
    .counter-block{ margin: 0 0 108px; }
    .icon{
        width: 31%;
        float: left;
        padding: 19px 0 0 74px;
    }
    .txt-holder{
        width: 69%;
        float: left;
        padding: 0 0 0 46px;
    }
    .counter{
        @include font(48px, 50px);
        color: $white;
        font-weight: 900;
        margin: 0 0 19px;
        display: block;
    }
    .sub-title{
        @include font(18px, 20px);
        color: $white;
        font-weight: 900;
        display: block;
    }
}
/*------------------------------------------------------------------
20. Contact Sec / .contact-sec
-------------------------------------------------------------------*/
.contact-sec{
    overflow: hidden;
    padding-top: 100px;
    &.style2{
        padding-top: 92px;
        padding-bottom: 209px;
        background: $clr-5;
    }
    &.style3{
        min-height: 630px;
        padding-top: 88px;
        .quote-form{
            padding: 0 0 0 140px;
        }
    }
    .quote-block{
        width: 100%;
        overflow: hidden;
        min-height: 550px;
    }
    .contact-list{ padding: 76px 0 0 11px; }
}
/*------------------------------------------------------------------
21. Quote Form / .quote-form
-------------------------------------------------------------------*/
.quote-form{
    padding: 74px 69px;
    overflow: hidden;
    h2{
        @include font(24px, 26px);
        font-weight: 900;
        color: $white;
        margin: 0 0 29px;
    }
    .form-group{ margin: 0; }
    .col{
        width: 50%;
        float: left;
        padding: 0 0 0 5px;
        margin: 0 0 16px;
        &:first-child{ padding: 0 5px 0 0; }
    }
    .form-control{
        @include font(14px, 16px);
        font-weight: 400;
        font-style: italic;
        color: $clr-15;
        @include size(100%, 40px);
        border: none;
        background: $white;
        box-shadow: none;
        outline: none;
        padding: 6px 20px;
        @include placeholder{ color: $clr-8; }
    }
    textarea{
        @include font(14px, 16px);
        font-weight: 400;
        font-style: italic;
        color: $clr-15;
        width: 100%;
        min-height: 111px;
        resize: none;
        border: none;
        background: $white;
        box-shadow: none;
        outline: none;
        padding: 12px 20px;
        margin: 0 0 13px;
        @include placeholder{ color: $clr-8; }
    }
    .btn-primary{
        width: 100%;
        &:hover{ background: none; }
    }
}
/*------------------------------------------------------------------
22. Contact List / .contact-list
-------------------------------------------------------------------*/
.contact-list{
    overflow: hidden;
    margin: 0;
    &.contact2{
        padding: 0;
        li{
            width: 33.33%;
            float: left;
            margin: 0;
        }
        .icon{
            @include font(48px, 50px);
            width: 100%;
            float: none;
            display: block;
            margin: 0 0 16px;
        }
        .txt-holder{
            width: 100%;
            float: none;
            padding: 0;
        }
    }
    li{
        margin: 0 0 95px;
        overflow: hidden;
        color: $clr-3;
    }
    a{
        color: $clr-1;
        display: block;
        transition: all 0.25s linear;
    }
    time{ display: block; }
    h3{
        @include font(18px, 20px);
        color: $clr-1;
        font-weight: 700;
        margin: 0 0 16px;
    }
    .icon{
        width: 16%;
        float: left;
        @include font(72px, 80px);
        color: $clr-6;
        padding: 5px 0 0;
    }
    .txt-holder{
        width: 84%;
        float: left;
        padding: 0 0 0 29px;
    }
}
/*------------------------------------------------------------------
23. Testimonail Sec / .testimonail-sec
-------------------------------------------------------------------*/
.testimonail-sec{
    overflow: hidden;
    min-height: 500px;
    padding: 104px 0;
}
/*------------------------------------------------------------------
24. Testimonail Slider / .testimonail-slider
-------------------------------------------------------------------*/
.testimonail-slider{
    overflow: hidden;
    .slide{
        overflow: hidden;
        margin: 0;
        padding: 0 0 40px;
        @include font(16px, 24px);
        color: $white;
        font-weight: 400;
        border: none;
        font-style: italic;
        .img-holder{
            width: 70px;
            margin: 0 auto 34px;
            overflow: hidden;
            opacity: 0;
            transform: translateY(-60px);
            transition: all 0.6s linear;
        }
        q{
            display: block;
            margin: 0 0 24px;
            opacity: 0;
            transition: all 0.6s linear;
            &:before,
            &:after{ display: none; }
        }
        cite{
            display: block;
            font-style: normal;
            opacity: 0;
            transform: translateY(60px);
            transition: all 0.6s linear;
        }
        strong{
            @include font(18px, 20px);
            color: $white;
            font-weight: 700;
            display: block;
            margin: 0 0 8px;
        }
        span{
            @include font(14px, 16px);
            font-weight: 400;
            display: block;
        }
    }
    .slick-active{
        .img-holder,
        q,
        cite{
            opacity: 1;
            transform: translateY(0);
        }
    }
    .slick-dots{
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 50%;
        bottom: -15px;
        transform: translateX(-50%);
        li{
            float: left;
            margin: 0 16px 0 0;
        }
        button{
            @include size(9px, 9px);
            background: $clr-7;
            padding: 0;
            text-indent: -9999px;
            overflow: hidden;
            padding: 0;
            border-radius: 100%;
            border: none;
            outline: none;
            box-shadow: none;
            transition: all 0.25s linear;
        }
    }
}
/*------------------------------------------------------------------
25. Testimonail Slider2 / .testimonail-slider2
-------------------------------------------------------------------*/
.testimonail-slider2{
    overflow: hidden;
    .slide{
        overflow: hidden;
        margin: 20px 0;
        padding: 0 110px 0 0;
        @include font(16px, 24px);
        color: $white;
        font-weight: 400;
        border: none;
        font-style: italic;
        .header{
            overflow: hidden;
            margin: 0 0 26px;
        }
        .img-holder{
            width: 70px;
            float: left;
            overflow: hidden;
            margin: 0 31px 0 0;
        }
        q{
            display: block;
            margin: 0;
            &:before,
            &:after{ display: none; }
        }
        cite{
            float: left;
            font-style: normal;
            padding: 12px 0 0;
        }
        strong{
            @include font(18px, 20px);
            color: $white;
            font-weight: 700;
            display: block;
            margin: 0 0 8px;
        }
        span{
            @include font(14px, 16px);
            font-weight: 400;
            display: block;
        }
    }
    .slick-prev,
    .slick-next{
        background: none;
        border: none;
        text-indent: -9999px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        &:before{
            position: absolute;
            left: 0;
            top: 0;
            font-family: 'themify';
            @include font(18px, 20px);
            color: $white;
            text-indent: 0;
            transition: all 0.25s linear;
        }
    }
    .slick-prev{
        right: 53px;
        margin: -35px 0 0;
        &:before{ content: "\e648"; }
    }
    .slick-next{
        right: 53px;
        &:before{ content: "\e64b"; }
    }
}
/*------------------------------------------------------------------
26. About Sec / .about-sec
-------------------------------------------------------------------*/
.about-sec{
    min-height: 460px;
    padding: 95px 0 75px;
    &.style2{
        .heading{ color: $clr-1; }
        .txt-holder{ color: $clr-3; }
        .progress-bar{
            .bar{ background: $clr-2; }
            .txt,
            .num{ color: $clr-3; }
        }
        .read-more{ &:hover{ color: $clr-1; } }
    }
    .heading{
        color: $white;
        margin: 0 0 38px;
    }
    .progress-bar{
        overflow: hidden;
        margin: 0;
        padding: 13px 69px 0 0;
        li{
            margin: 0 0 27px;
            position: relative;
        }
        .bar{
            @include size(100%, 10px);
            position: relative;
            background: $white;
            display: block;
        }
        .over{
            top: 0;
            left: 0;
            bottom: 0;
            position: absolute;
            transition: all .25s linear;
        }
        .txt{
            @include font(16px, 18px);
            font-weight: 700;
            color: $white;
            display: block;
            margin: 0 0 14px;
        }
        .num{
            @include font(14px, 16px);
            font-weight: 400;
            color: $white;
            position: absolute;
        }
        .num1{
            right: 102px;
            top: 10px;
        }
        .num2{
            right: 82px;
            top: 10px;
        }
        .num3{
            right: 35px;
            top: 10px;
        }
    }
    .txt-holder{
        color: $white;
        padding: 21px 60px 0 0;
        p{ margin: 0 0 33px; }
    }
    .read-more{
        @include font(16px, 18px);
        font-weight: 700;
        text-decoration: underline;
        transition: all 0.25s linear;
        &:hover{
            color: $white;
            text-decoration: none;
        }
    }
}
/*------------------------------------------------------------------
27. Abt Detail / .abt-detail
-------------------------------------------------------------------*/
.abt-detail{
    overflow: hidden;
    padding-top: 36px;
    padding-bottom: 72px;
    @include font(16px, 24px);
    font-weight: 400;
    color: $clr-3;
    .sub-title{
        color: $clr-1;
        font-weight: 700;
        display: block;
        margin: 0 0 13px;
    }
    .display-flex{
        display: flex;
        align-items: center;
    }
    h2{
        @include font(36px, 38px);
        color: $clr-1;
        font-weight: 700;
        margin: 0 0 74px;
    }
    .video-holder{
        overflow: hidden;
        margin: 0 0 73px;
        position: relative;
        z-index: 1;
        .play-icon{
            position: absolute;
            left: 50%;
            top: 50%;
            @include font(24px, 24px);
            color: $white;
            padding: 17px 5px;
            border: 1px solid $white;
            @include size(60px, 60px);
            transform: translate(-50%, -50%);
            transition: all 0.25s linear;
        }
    }
    .mar{ margin-bottom: 44px; }
    p{ margin: 0 0 24px; }
    .img-holder{
        img{
            display: inline-block;
            vertical-align: middle;
        }
    }
}
/*------------------------------------------------------------------
28. Blog Slider / .blog-slider
-------------------------------------------------------------------*/
.blog-slider{
    @extend %clearfix;
    .slick-list{ padding: 0 0 1px; }
    .slide{
        width: 23%;
        padding: 18px 16px;
        margin: 0 20px 0 0;
        overflow: hidden;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        &:hover{
            box-shadow: 0 13px 30px 10px rgba(0, 0, 0, 0.07);
            .img-holder{ img{ transform: scale(1.1); } }
        }
        .img-holder{
            width: 100%;
            margin: 0 0 33px;
            overflow: hidden;
            img{
                width: 100%;
                transform: scale(1);
                transition: all 0.25s linear;
            }
        }
        .txt-holder{
            width: 100%;
            color: $clr-3;
            p{ margin: 0; }
        }
        .time{
            @include font(12px, 14px);
            color: $clr-3;
            margin: 0 0 5px;
            display: block;
        }
        .heading2{
            margin: 0 0 8px;
            a{ transition: all 0.25s linear; }
        }
    }
    .slick-prev,
    .slick-next{
        background: none;
        border: none;
        text-indent: -9999px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        &:before{
            position: absolute;
            left: 0;
            top: 0;
            font-family: 'themify';
            @include font(20px, 22px);
            color: $clr-3;
            text-indent: 0;
            transition: all 0.25s linear;
        }
    }
    .slick-prev{
        left: -119px;
        &:before{ content: "\e64a"; }
    }
    .slick-next{
        right: -119px;
        &:before{ content: "\e649"; }
    }
}
/*------------------------------------------------------------------
29. Client Sec / .client-sec
-------------------------------------------------------------------*/
.client-sec{
    overflow: hidden;
    padding: 50px 0;
    .line-box{ overflow: hidden; }
    .client-logo{
        overflow: hidden;
        margin: 0;
        text-align: center;
        li{ width: 300px; }
        a{
            display: flex;
            padding: 0 20px;
            justify-content: center;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            &:hover{ filter: grayscale(0); }
        }
        img {
            width: auto;
            height: 50px;
        }
    }
}
/*------------------------------------------------------------------
30. Popup Holder / .popup-holder
-------------------------------------------------------------------*/
.popup-holder{
    position: relative;
    overflow: hidden;
    height: 0;
}
/*------------------------------------------------------------------
31. Newsletter Block / .newsletter-block
-------------------------------------------------------------------*/
.newsletter-block{
    width: 530px;
    overflow: hidden;
    padding: 33px 99px 39px;
    font-weight: 400;
    color: $clr-3;
    .main-heading{
        @include font(24px, 30px);
        font-weight: 700;
        padding: 0 0 12px;
        margin: 0 0 30px;
        position: relative;
        z-index: 1;
        &:before{
            @include element(auto, auto, 0, 50%);
            @include size(60px, 2px);
            transform: translateX(-50%);
        }
    }
    p{ margin: 0 0 32px; }
    .newsletter-form{
        position: relative;
        .form-control{
            @include font(14px, 16px);
            color: $clr-2;
            font-style: italic;
            @include size(100%, 46px);
            border-width: 1px;
            border-style: solid;
            outline: none;
            padding: 6px 40px 6px 24px;
            box-shadow: none;
            background: none;
            @include placeholder{ color: $clr-2; }
        }
        button{
            position: absolute;
            right: 13px;
            top: 14px;
            @include font(16px, 18px);
            border: none;
            outline: none;
            box-shadow: none;
            background: none;
        }
    }
}
.fancybox-close-small{
    background: none;
    &:before{ color: $clr-3; }
}
/*------------------------------------------------------------------
32. Error Page / .error-page
-------------------------------------------------------------------*/
.error-page{
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 227px;
    @include font(20px, 22px);
    font-weight: 400;
    color: $clr-8;
    h2{
        @include font(186px, 187px);
        font-weight: 700;
        margin: 0 0 23px;
        letter-spacing: 36px;
    }
    .txt{
        @include font(44px, 46px);
        color: $clr-9;
        font-weight: 700;
        margin: 0 0 33px;
        display: block;
    }
    p{ margin: 0 0 49px; }
    .btn-primary{
        color: $white;
        padding: 10px 30px;
        &:hover{ background: none; }
    }
}
/*------------------------------------------------------------------
33. Faq Sec / .faq-sec
-------------------------------------------------------------------*/
.faq-sec{
    overflow: hidden;
    padding-top: 51px;
    padding-bottom: 66px;
    .accordion{
        overflow: hidden;
        li{
            overflow: hidden;
            width: 100%;
            margin: 0 0 22px;
        }
        .active{
            .opener{
                &:before{
                    opacity: 1;
                    visibility: visible;
                }
                .ti-plus{ display: none; }
                .ti-minus{
                    opacity: 1;
                    float: right;
                }
            }
        }
        .opener{
            @include font(16px, 18px);
            font-weight: 700;
            color: $clr-10;
            display: block;
            border: 1px solid $clr-11;
            padding: 13px 27px 16px 30px;
            position: relative;
            z-index: 1;
            &:before{
                @include element(0, auto, auto, 0);
                @include size(4px, 100%);
                z-index: 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.25s linear;
            }
            .ti-plus{ float: right; }
            .ti-minus{ opacity: 0; }
        }
        .slide{
            overflow: hidden;
            border: 1px solid $clr-11;
            border-top: none;
            padding: 24px 40px 52px 30px;
            p{ margin: 0; }
        }
    }
}
/*------------------------------------------------------------------
34. Service Detail / .service-detail
-------------------------------------------------------------------*/
.service-detail{
    overflow: hidden;
    padding-top: 52px;
    padding-bottom: 79px;
    color: $clr-3;
    .heading{
        margin: 0 0 42px;
        padding: 34px 0 0;
    }
    .img-holder{
        width: 100%;
        overflow: hidden;
        margin: 0 0 45px;
    }
    h2{
        @include font(18px, 24px);
        font-weight: 700;
        color: $clr-1;
        margin: 0 0 15px;
    }
    p{ margin: 0 0 25px; }
}
/*------------------------------------------------------------------
35. Twocolumns / .twocolumns
-------------------------------------------------------------------*/
.twocolumns{
    overflow: hidden;
    padding-top: 52px;
    padding-bottom: 100px;
}
/*------------------------------------------------------------------
36. Content / #content
-------------------------------------------------------------------*/
#content{
    width: 68.3%;
    float: left;
    .post-blog{
        overflow: hidden;
        padding: 19px 0 0;
        margin: 0 0 81px;
        color: $clr-3;
        border-top: 1px solid $clr-14;
        &:hover{
            .img-holder{
                img{ transform: scale(1.1); }
            }
        }
        &:first-child{
            border: none;
            padding: 0;
        }
        &.post2{
            line-height: 24px;
            margin: 0 0 117px;
            p{ margin: 0 0 25px; }
        }
        .img-holder{
            width: 100%;
            overflow: hidden;
            margin: 0 0 22px;
            img{
                transform: scale(1);
                transition: all 0.25s linear;
            }
        }
        .time{
            color: $clr-9;
            display: block;
            margin: 0 0 21px;
        }
        h3{
            @include font(24px, 26px);
            color: $clr-1;
            font-weight: 700;
            margin: 0 0 14px;
            a{
                display: block;
                color: $clr-1;
                transition: all 0.25s linear;
            }
        }
        p{ margin: 0 0 11px; }
        .read-more{
            @include font(16px, 18px);
            font-weight: 700;
            text-decoration: underline;
            transition: all 0.25s linear;
            &:hover{
                color: $clr-1;
                text-decoration: none;
            }
        }
        .comment-nav{
            overflow: hidden;
            margin: 0 0 20px;
            color: $clr-9;
            li{
                float: left;
                margin: 0 16px 0 0;
            }
            a{
                display: block;
                transition: all 0.25s linear;
                .ti-bookmark{ margin: 0 1px 0 0; }
                &:hover{ color: $clr-9; }
            }
        }
    }
    .nav-pagination{
        @include font(16px, 18px);
        color: $clr-12;
        overflow: hidden;
        margin: 0;
        width: 370px;
        .prev{
            float: left;
            margin: 0;
            a{
                padding: 0;
                font-weight: 400;
                text-decoration: underline;
                transition: all 0.25s linear;
                &:hover{
                    text-decoration: none;
                    background: none;
                }
            }
        }
        .next{
            float: right;
            margin: 0;
            a{
                padding: 0;
                font-weight: 400;
                text-decoration: underline;
                transition: all 0.25s linear;
                &:hover{
                    text-decoration: none;
                    background: none;
                }
            }
        }
        li{
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 5px;
            a{
                padding: 5px 9px;
                border-radius: 2px;
                display: block;
                font-weight: 700;
                transition: all 0.25s linear;
                &:hover{
                    color: $white;
                    background: $clr-1;
                }
            }
        }
        .active{
            a{
                color: $white;
                background: $clr-1;
            }
        }
    }
}
/*------------------------------------------------------------------
37. Sidebar / #sidebar
-------------------------------------------------------------------*/
#sidebar{
    width: 31.7%;
    float: left;
    padding: 0 0 0 68px;
    margin: -6px 0 0;
}
/*------------------------------------------------------------------
38. Comments Block / .comments-block
-------------------------------------------------------------------*/
.comments-block{
    overflow: hidden;
    padding: 25px 0 0;
    margin: 0 0 69px;
    border-top: 1px solid $clr-14;
    h4{
        @include font(24px, 26px);
        color: $clr-12;
        font-weight: 700;
        margin: 0 0 32px;
    }
    .comment-area{
        overflow: hidden;
        margin: 0 0 28px;
        .img{
            width: 8.7%;
            float: left;
            overflow: hidden;
        }
        .txt-holder{
            width: 91.3%;
            float: left;
            padding: 0 0 0 29px;
            margin: -2px 0 0;
        }
        .header{
            overflow: hidden;
            margin: 0 0 1px;
        }
        h3{
            @include font(14px, 16px);
            color: $clr-12;
            font-weight: 700;
            margin: 0;
            display: inline-block;
            vertical-align: middle;
            a{
                transition: all 0.25s linear;
            }
        }
        .time{
            color: $clr-9;
            display: inline-block;
            vertical-align: middle;
            margin: 0 13px 0 0;
        }
        .reply{
            color: $clr-12;
            display: inline-block;
            vertical-align: middle;
            transition: all 0.25s linear;
        }
        p{ margin: 0; }
    }
    .onelevel{
        overflow: hidden;
        padding: 0 0 0 99px;
        .comment-area{
            .img{
                width: 10%;
            }
            .txt-holder{ width: 90%; }
        }
    }
}
/*------------------------------------------------------------------
39. Comment Form / .comment-form
-------------------------------------------------------------------*/
.comment-form{
    overflow: hidden;
    padding: 25px 0 0;
    color: $clr-3;
    border-top: 1px solid $clr-14;
    h4{
        @include font(24px, 26px);
        color: $clr-12;
        font-weight: 700;
        margin: 0 0 15px;
    }
    p{ margin: 0 0 44px; }
    .contact-form{
        width: 100%;
        overflow: hidden;
        .form-group{
            margin: 0 0 77px;
            overflow: hidden;
        }
        .col{
            width: 50%;
            float: left;
            padding: 0 0 0 15px;
            &:first-child{ padding: 0 15px 0 0; }
        }
        .form-control{
            @include font(14px, 16px);
            color: $clr-9;
            background: none;
            border: none;
            border-bottom: 1px solid $clr-14;
            outline: none;
            box-shadow: none;
            padding: 6px 0;
            @include placeholder{ color: $clr-9; }
        }
        textarea{
            width: 100%;
            resize: none;
        }
        .btn-primary{
            @include font(18px, 20px);
            font-weight: 700;
            outline: none;
            box-shadow: none;
            padding: 13px 28px;
            margin-top: 40px;
            &:hover{
                background: none;
            }
        }
    }
}
/*------------------------------------------------------------------
40. Widget / .widget
-------------------------------------------------------------------*/
.widget{
    overflow: hidden;
    .side-nav{
        @include font(18px, 20px);
        font-weight: 700;
        color: $clr-1;
        padding: 33px 0 0;
        border-right: 2px solid $clr-14;
        li{
            margin: 0 0 3px;
        }
        a{
            display: block;
            color: $clr-1;
            padding: 4px 0 9px 16px;
            transition: all 0.25s linear;
            &:hover, &.active{
                border-left-width: 4px;
                border-left-style: solid;
            }
        }
    }
    h3{
        @include font(24px, 26px);
        color: $clr-3;
        font-weight: 700;
        margin: 0 0 35px;
    }
    .heading{ margin: 0 0 35px; }
    .widget-nav{
        color: $clr-3;
        line-height: 36px;
        overflow: hidden;
        margin: 0 0 46px;
        li{ overflow: hidden; }
        a{
            display: block;
            color: $clr-3;
            transition: all 0.25s linear;
        }
        .ti-angle-right{ margin: 0 1px 0 0; }
    }
    .tags-list{
        color: $clr-3;
        overflow: hidden;
        margin: 0;
        li{
            float: left;
            margin: 0 0 15px 10px;
        }
        a{
            display: block;
            color: $clr-3;
            padding: 3px 17px 3px 18px;
            border: 1px solid $clr-3;
            transition: all 0.25s linear;
            &:hover{
                color: $white;
                background: $clr-3;
            }
        }
    }
}
/*------------------------------------------------------------------
41. Content Sec / .content-sec
-------------------------------------------------------------------*/
.content-sec{
    overflow: hidden;
    padding-top: 69px;
    padding-bottom: 85px;
    color: $clr-4;
    h3{
        @include font(24px, 26px);
        color: $clr-12;
        font-weight: 700;
        margin: 0 0 22px;
    }
    .marg{ margin: 0 0 14px; }
    p{ margin: 0 0 43px; }
    .contact-list{
        overflow: hidden;
        margin: 0 0 40px;
        color: $clr-3;
        padding: 0;
        li{
            overflow: hidden;
            margin: 0 0 10px;
        }
        .icon{
            @include font(14px, 16px);
            display: inline-block;
            vertical-align: top;
            margin: 1px 10px 0 0;
            color: $clr-3;
            padding: 0;
            width: 4.4%;
        }
        .tel,
        .mail{
            display: inline-block;
            vertical-align: top;
        }
        address{
            font-weight: 400;
            font-style: normal;
            margin: 0;
            width: 80%;
            display: inline-block;
            vertical-align: top;
        }
        a{
            color: $clr-3;
            transition: all 0.25s linear;
        }
    }
    .hour-list{
        overflow: hidden;
        margin: 0;
        color: $clr-3;
        li{
            overflow: hidden;
            margin: 0 0 10px;
        }
        time{
            display: block;
        }
    }
    .contact-form{
        width: 100%;
        overflow: hidden;
        .holder{ overflow: hidden; }
        .form-group{
            margin: 0 0 75px;
            overflow: hidden;
        }
        .col{
            width: 50%;
            float: left;
            padding: 0 0 0 15px;
            &:first-child{ padding: 0 15px 0 0; }
        }
        .form-control{
            @include font(14px, 16px);
            color: $clr-13;
            background: none;
            border: none;
            border-bottom: 1px solid $clr-14;
            outline: none;
            border-radius: 0;
            box-shadow: none;
            padding: 6px 0;
            @include placeholder{ color: $clr-13; }
        }
        textarea{
            width: 100%;
            resize: none;
        }
        .btn-primary{
            color: $white;
            outline: none;
            box-shadow: none;
            padding: 10px 18px;
            margin-top: 31px;
            &:hover{
                background: none;
            }
        }
    }
    .header{
        overflow: hidden;
        margin: 0 0 9px;
        padding: 92px 0 0;
    }
}
/*------------------------------------------------------------------
42. Map Sec / .map-sec
-------------------------------------------------------------------*/
.map-sec{
    overflow: hidden;
    .map{
        width: 100%;
        height: 500px;
    }
    .map-info{
        @include font(14px, 24px);
        color: $clr-1;
        h2{
            @include font(24px, 26px);
            margin: 0 0 10px;
            font-weight: 700;
        }
        address{
            margin: 0;
            line-height: 24px;
            font-style: normal;
        }
    }
}
/*------------------------------------------------------------------
43. Footer / #footer
-------------------------------------------------------------------*/
#footer{
    overflow: hidden;
    min-height: 450px;
    .footer-holder{
        padding-top: 96px;
        padding-bottom: 77px;
        overflow: hidden;
        color: $white;
        border-bottom: 1px solid $clr-16;
        p{ margin: 0 0 30px; }
    }
    h3{
        @include font(24px, 26px);
        color: $white;
        font-weight: 700;
        margin: 0 0 28px;
    }
    .mar{ padding: 0 0 0 57px; }
    .f-nav{
        color: $clr-2;
        overflow: hidden;
        margin: 0;
        padding: 0 0 0 57px;
        li{
            overflow: hidden;
            margin: 0 0 6px;
        }
        a{
            color: $clr-2;
            transition: all 0.25s linear;
        }
    }
    .socail-network{
        float: none;
        text-align: left;
        li{ margin: 0 21px 0 0; }
        a{
            color: $clr-2;
        }
    }
    .contactlist{
        color: $clr-2;
        overflow: hidden;
        margin: 0;
        li{
            overflow: hidden;
            margin: 0 0 11px;
        }
        .icon{
            float: left;
            margin: 2px 15px 0 0;
        }
        address{
            float: left;
            font-style: normal;
            font-weight: 400;
            margin: 0;
            width: 80%;
        }
        .mail,
        .tel{ float: left; }
        a{
            color: $clr-2;
            display: block;
            transition: all 0.25s linear;
        }
    }
    .footer-logo {
        width: 60%;
    }
    .subscribe-form{
        width: 100%;
        overflow: hidden;
        position: relative;
        padding: 15px 0 0;
        .form-control{
            color: $white;
            @include size(100%, 46px);
            background: none;
            border: 1px solid $white;
            outline: none;
            box-shadow: none;
            border-radius: 0;
            padding: 6px 50px 6px 22px;
            @include placeholder{ color: $white; }
        }
        button{
            position: absolute;
            right: 20px;
            top: 31px;
            @include font(16px, 18px);
            color: $clr-2;
            background: none;
            padding: 0;
            border: none;
            outline: none;
            border-radius: 0;
            box-shadow: none;
            transition: all 0.25s linear;
        }
    }
    .footer-area{
        color: $white;
        padding: 7px 0;
        p{ margin: 0; }
    }
}
/*------------------------------------------------------------------
44. Back Top / #back-top
-------------------------------------------------------------------*/
#back-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	@include font(18px, 20px);
    color: $white;
    cursor: pointer;
    float: right;
    @include size(50px, 50px);
    padding: 14px 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease 0s;
    &.active{
    	opacity: 1;
    	visibility: visible;
    }
}
/*------------------------------------------------------------------
45. Loader Holder / .loader-holder
-------------------------------------------------------------------*/
.loader-holder {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    position: fixed;
    background-color: rgba($white, 0.9);
    .block{
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    img{ width: 80px; }
}

.photo-gallery {
    &__item {
        width: 30%;
        margin: 1%;
        height: auto;
        display: block;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transition: all .5s;
        }
        &::after {
            content: "\f002";
            font-family: FontAwesome;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 3rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            transform: scale(0);
            transition: all .5s;
        }

        &:hover {
            &::before {
                background: rgba(0,0,0,0.5);
            }
            &::after {
                transform: scale(1);
            }
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

.start-hero {
    background: #192537;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__links {
        position: relative;
        z-index: 2;
        text-align: center;
        a {
            margin: 30px;
        }
        svg {
            width: auto;
            height: 110px;
            &.investor-logo {
                height: 93px;
            }
        }
    }
    &__images img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center;
        opacity: 0;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all .5s;
        &.active {
            opacity: 0.1;
        }
    }
}

.grecaptcha-badge {
    bottom: 80px !important;
    z-index: 10;
}

.form-thanks-message {
    padding: 2rem 1rem;
    background: #dff0d8;
    color: green;
    margin-top: 1rem;
    display: none;
    border-radius: 5px;
    .show {
        display: inline-block;
    }
}

.form-control {
    &.has-error {
        border-color: red !important;
    }
}
.error-message {
    color: red;
}

form {
    position: relative;
    .form-loader {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        display: none;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
    }
    &.proceeding {
        .form-loader {
            display: flex;
        }
    }
}
.carfleet-images {
    display: flex;
    flex-wrap: wrap;
    &__item {
        width: 100%;
        height: auto;
    }
}

.trailers {
    display: none;
    &.active {
        display: block;
    }
}

@import "responsive";
